In [2]:
import pandas as pd
import numpy as np
import asyncio
import re
import os
from datetime import datetime, timedelta
import betwatch
from betwatch.types import (
    Bookmaker,
    MarketPriceType,
    MeetingType,
    RaceProjection,
    RacesFilter,
)

TODO
- flucs
- place markets

In [2]:
# def extract_track_and_date(input_string):
#     # Define a regular expression pattern
#     pattern = re.compile(r'\((.*?)\) (.*?) R(\d+) \[(\d{2}/\d{2}/\d{4} \d{2}:\d{2})\]')

#     # Match the pattern in the input string
#     match = pattern.match(input_string)

#     if match:
#         # Extract matched groups
#         track_type, track_name, race_number, date_string = match.groups()

#         # Parse the date string to a datetime object
#         race_date = datetime.strptime(date_string, "%d/%m/%Y %H:%M").strftime(format='%Y-%m-%d')

#         return {
#             'track_type': track_type,
#             'track_name': track_name,
#             'race_number': int(race_number),
#             'race_date': race_date
#         }
#     else:
#         return None

In [3]:

# api_key = 'd747b241-f64c-4b2b-8573-f0557cc31e03'

# client = betwatch.connect(api_key=api_key)

# # define the projection of the returned data
# # we can filter out for certain bookmakers as well as define whether we want market data or flucs
# projection = RaceProjection(
#     markets=True,  bookmakers=[Bookmaker.SPORTSBET]
# )

# # define the filter for the query
# # here we can filter by date, type of meeting, and various other parameters
# races_filter = RacesFilter(
#     date_from=datetime.now() - timedelta(days=600),
#     date_to=datetime.now() - timedelta(days=1),
#     types=[MeetingType.GREYHOUND],  # filter on a race type

# )

# races = client.get_races(projection, races_filter)

In [5]:
# res=[]
# for race in races:
#     rname = str(race)
#     res1 = extract_track_and_date(rname)
#     if(1==1):
#     # make sure the race has runners
#         if race.runners:
#             # loop through each runner in the race
#             for runner in race.runners:
#                 name = str(runner)
                
#                 price=0
#                 date='1900-01-01'
                
#                 for m in runner.bookmaker_markets:
#                     try:
#                         price = m.fixed_win.price
#                         date = m.fixed_win._last_updated
#                     except:
#                         pass

#                 res2 = res1.copy()
#                 res2['name']=name
#                 res2['price']=price
#                 res.append(res2)
                
# pd.DataFrame(res)

,track_type,track_name,race_number,race_date,name,price
0,G,Ascot Park,1,2022-11-07,1. Extra Gold,5.0
1,G,Ascot Park,1,2022-11-07,2. Homebush Classy,7.5
2,G,Ascot Park,1,2022-11-07,3. Homebush Geoff,3.0
3,G,Ascot Park,1,2022-11-07,4. Jokes On Us,9.0
4,G,Ascot Park,1,2022-11-07,5. Homebush Axel,11.0
...,...,...,...,...,...,...
655275,G,Swindon,12,2024-02-25,2. Datsthewaytodoit,0.0
655276,G,Swindon,12,2024-02-25,3. Ashway Amber,0.0
655277,G,Swindon,12,2024-02-25,4. Ellie Eithne,0.0
655278,G,Swindon,12,2024-02-25,5. Charlies Eske,0.0
655279,G,Swindon,12,2024-02-25,6. Mohican Chad,0.0

In [4]:
df = pd.read_csv('betwatch_prices.csv')
df = df.loc[(df.price!=0)]
df

,Unnamed: 0,track_type,track_name,race_number,race_date,name,price
0,0,G,Ascot Park,1,2022-11-07,1. Extra Gold,5.00
1,1,G,Ascot Park,1,2022-11-07,2. Homebush Classy,7.50
2,2,G,Ascot Park,1,2022-11-07,3. Homebush Geoff,3.00
3,3,G,Ascot Park,1,2022-11-07,4. Jokes On Us,9.00
4,4,G,Ascot Park,1,2022-11-07,5. Homebush Axel,11.00
...,...,...,...,...,...,...,...
655269,655269,G,Newcastle,12,2024-02-25,2. Laylas Girl,7.00
655270,655270,G,Newcastle,12,2024-02-25,3. Sonic Mercury,2.75
655271,655271,G,Newcastle,12,2024-02-25,4. Drumdoit Lady,3.75
655272,655272,G,Newcastle,12,2024-02-25,5. Carols Hope,9.00
655273,655273,G,Newcastle,12,2024-02-25,6. Hello Goodbye,34.00

In [5]:
ls = []
for x in list(df['name']):
    a = str(x)
    a = a.lstrip("1. ")
    a = a.lstrip("2. ")
    a = a.lstrip("3. ")
    a = a.lstrip("4. ")
    a = a.lstrip("5. ")
    a = a.lstrip("6. ")
    a = a.lstrip("7. ")
    a = a.lstrip("8. ")
    a = a.lstrip("9. ")
    a = a.lstrip("10. ")
    ls.append(a.lower())
    
df['name'] = ls
df

,Unnamed: 0,track_type,track_name,race_number,race_date,name,price
0,0,G,Ascot Park,1,2022-11-07,extra gold,5.00
1,1,G,Ascot Park,1,2022-11-07,homebush classy,7.50
2,2,G,Ascot Park,1,2022-11-07,homebush geoff,3.00
3,3,G,Ascot Park,1,2022-11-07,jokes on us,9.00
4,4,G,Ascot Park,1,2022-11-07,homebush axel,11.00
...,...,...,...,...,...,...,...
655269,655269,G,Newcastle,12,2024-02-25,laylas girl,7.00
655270,655270,G,Newcastle,12,2024-02-25,sonic mercury,2.75
655271,655271,G,Newcastle,12,2024-02-25,drumdoit lady,3.75
655272,655272,G,Newcastle,12,2024-02-25,carols hope,9.00
655273,655273,G,Newcastle,12,2024-02-25,hello goodbye,34.00

In [6]:
bf = pd.read_csv('bsp_allRaces.csv')
bf['name'] = list(bf['DogName'])
bf['race_date'] = list(bf['date'])

df = pd.merge(df,bf, on=['name','race_date'],how='left').dropna()
df

/var/folders/_5/kty37fps3g723664y0dwx0_80000gn/T/ipykernel_19334/2746453246.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  bf = pd.read_csv('bsp_allRaces.csv')

,Unnamed: 0_x,track_type,track_name,race_number,race_date,name,price,Unnamed: 0.1,Place,DogName,...,RaceGrade,Track,date,TrainerLName,TrainerFName,Unnamed: 0_y,MENU_HINT,BSP,MORNINGWAP,PPTRADEDVOL
37,43,G,Healesville,1,2022-11-07,quilla reef,2.1,1338062.0,1.0,quilla reef,...,Maiden,healesville,2022-11-07,Chapple,A,96.0,AUS / Healesville (AUS) 7th Nov,2.260269,1.374409,2394.54
38,44,G,Healesville,1,2022-11-07,donut spolly,16.0,1338066.0,5.0,donut spolly,...,Maiden,healesville,2022-11-07,Spoljaric,S,1528.0,AUS / Healesville (AUS) 7th Nov,22.000000,2.420872,156.96
39,45,G,Healesville,1,2022-11-07,soda kiwi,4.5,1338063.0,2.0,soda kiwi,...,Maiden,healesville,2022-11-07,Thornton,T,1529.0,AUS / Healesville (AUS) 7th Nov,5.800000,2.990485,783.58
40,46,G,Healesville,1,2022-11-07,sameno,23.0,1338069.0,8.0,sameno,...,Maiden,healesville,2022-11-07,Quinlan,S,97.0,AUS / Healesville (AUS) 7th Nov,50.000000,6.019069,114.32
41,47,G,Healesville,1,2022-11-07,elite randy,3.3,1338064.0,3.0,elite randy,...,Maiden,healesville,2022-11-07,Formosa,J,1271.0,AUS / Healesville (AUS) 7th Nov,4.118888,3.029988,1993.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595134,655124,G,Cannington,6,2024-02-24,sunset frazier,3.9,1773074.0,1.0,sunset frazier,...,5,cannington,2024-02-24,poo,poo,505.0,Cannington (AUS) 24th Feb,4.665010,1.000000,4636.86
595135,655125,G,Cannington,6,2024-02-24,sunset pepe,11.0,1773073.0,2.0,sunset pepe,...,5,cannington,2024-02-24,poo,poo,342.0,Cannington (AUS) 24th Feb,14.983225,1.000000,1097.64
595136,655126,G,Cannington,6,2024-02-24,sneaky emoji,10.0,1773072.0,5.0,sneaky emoji,...,5,cannington,2024-02-24,poo,poo,384.0,Cannington (AUS) 24th Feb,13.902385,1.000000,1298.18
595137,655127,G,Cannington,6,2024-02-24,got the cash,51.0,1773071.0,6.0,got the cash,...,6,cannington,2024-02-24,poo,poo,1298.0,Cannington (AUS) 24th Feb,75.000000,1.000000,327.76
595138,655128,G,Cannington,6,2024-02-24,sunset nightjar,9.0,1773070.0,3.0,sunset nightjar,...,5,cannington,2024-02-24,poo,poo,606.0,Cannington (AUS) 24th Feb,12.721878,1.000000,1694.33

In [7]:
for x in list(set(df['Track'])):
    df1 = df.copy()
    df1 = df1[df1['Track']==x]
    
    
    ls1 = df1.loc[(df.price<2.1) & (df.price>1.2)]['price']
    ls2 = df1.loc[(df.price<2.1) & (df.price>1.2)]['StartPrice']
    
    ls3 = df1.loc[(df.price<3) & (df.price>2.1)]['price']
    ls4 = df1.loc[(df.price<3) & (df.price>2.1)]['StartPrice']
    
    ls5 = df1.loc[(df.price<5) & (df.price>3)]['price']
    ls6 = df1.loc[(df.price<5) & (df.price>3)]['StartPrice']

    diffs1 = ls1-ls2
    diffs2 = ls3-ls4
    diffs3 = ls5-ls6
    
    
    print(x)
    print('mean1: '+str(np.mean(diffs1)))
    print('sd1: '+str(np.std(diffs1)))
    print(' ')
    print('mean2: '+str(np.mean(diffs2)))
    print('sd2: '+str(np.std(diffs2)))
    print(' ')
    print('mean3: '+str(np.mean(diffs3)))
    print('sd3: '+str(np.std(diffs3)))
    print('----------------')

bundaberg
mean1: -0.045081967213114776
sd1: 0.07037657375743002

mean2: 4.625929269271485e-18
sd2: 0.15172617880027603

mean3: -0.027546296296296322
sd3: 0.3025248653465517
----------------
bendigo
mean1: -0.12238993710691827
sd1: 0.4420978089597348

mean2: -0.2576732673267327
sd2: 0.7628660667640277

mean3: -0.37119021134593994
sd3: 1.1381108238955218
----------------
murray bridge
mean1: -0.06000000000000001
sd1: 0.8153052306023919

mean2: -0.17739938080495354
sd2: 2.0975143888404717

mean3: 0.020323129251700683
sd3: 0.6606912976765943
----------------
launceston
mean1: 0.012499999999999982
sd1: 0.05536157373263373

mean2: -0.2020967741935484
sd2: 1.7498692458956846

mean3: 0.008045977011494225
sd3: 0.20410634528344526
----------------
geelong
mean1: -0.12839943342776206
sd1: 0.5198979679804119

mean2: -0.14531893004115226
sd2: 0.4677909749300593

mean3: -0.3189985625299473
sd3: 1.2342091638697301
----------------
warrnambool
mean1: -0.10347656250000001
sd1: 0.28213614468583026

mean2: -0.20729729729729726
sd2: 0.7374908103821369

mean3: -0.42383207070707063
sd3: 2.754550051174621
----------------
nowra
mean1: 0.004529914529914514
sd1: 0.08215053647775188

mean2: -0.013562091503267969
sd2: 0.8472489454442587

mean3: -0.1214285714285714
sd3: 2.3582706613904945
----------------
shepparton
mean1: -0.08340040241448693
sd1: 0.3743204528856663

mean2: -0.12990543735224586
sd2: 0.713284442245611

mean3: -0.324949494949495
sd3: 1.003607758440901
----------------
sale
mean1: -0.1452910052910053
sd1: 0.4598936442191491

mean2: -0.4186567164179105
sd2: 3.622129185628294

mean3: -0.3541964285714286
sd3: 1.1012838598595929
----------------
mandurah
mean1: -0.09006644518272428
sd1: 0.2820522716751821

mean2: -0.11423444976076555
sd2: 0.5458582746813444

mean3: -0.24762396694214875
sd3: 1.254845787142082
----------------
the gardens
mean1: -0.0285612788632327
sd1: 0.2642336505606285

mean2: -0.09696100917431191
sd2: 2.4129950760438503

mean3: -0.009777294948397608
sd3: 0.9745467918923608
----------------
warragul
mean1: -0.0953484602917342
sd1: 0.3743076809279786

mean2: -0.21827262044653348
sd2: 0.7505018773219402

mean3: -0.2861723961005644
sd3: 1.056059465028458
----------------
ballarat
mean1: -0.09106896551724139
sd1: 0.3149070394888301

mean2: -0.1549678800856531
sd2: 0.5171932042587954

mean3: -0.30663289917993247
sd3: 1.1457384067443148
----------------
casino
mean1: -0.026065989847715753
sd1: 0.08727403432098121

mean2: -0.18133815551537072
sd2: 4.190525525132876

mean3: 0.016693811074918567
sd3: 0.4041899617022324
----------------
richmond
mean1: -0.03076484018264841
sd1: 0.7380362283656712

mean2: -0.11799086757990866
sd2: 3.1515938679646656

mean3: 0.027496548550391173
sd3: 0.9047910471680674
----------------
rockhampton
mean1: -0.00686274509803923
sd1: 0.0883062895208208

mean2: 4.625929269271486e-17
sd2: 0.15545631755148023

mean3: -0.01744186046511631
sd3: 0.24061058979629318
----------------
northam
mean1: -0.07064000000000002
sd1: 0.2566857814527325

mean2: -0.16578947368421051
sd2: 0.5494408024935465

mean3: -0.305607476635514
sd3: 0.9367620153164514
----------------
gawler
mean1: -0.03326642335766424
sd1: 0.5601770006741505

mean2: 0.015750000000000017
sd2: 0.2695015847201397

mean3: -0.029054054054054056
sd3: 1.4225533783290019
----------------
ipswich
mean1: -0.023064351378958136
sd1: 0.10532602696845282

mean2: -0.04417009602194786
sd2: 0.7679384003324752

mean3: -0.12467704537926465
sd3: 2.7925575128859177
----------------
cannington
mean1: -0.04680426098535287
sd1: 0.2984026052423125

mean2: -0.13133561643835615
sd2: 0.5616398419086207

mean3: -0.3080030781069642
sd3: 1.1857908162642523
----------------
maitland
mean1: -0.03704918032786886
sd1: 0.3239699655290622

mean2: -0.04309392265193369
sd2: 0.8648247911313192

mean3: -0.23544194107452335
sd3: 3.9201403505418417
----------------
albion park
mean1: -0.023859020310633222
sd1: 0.09049865418378364

mean2: -0.03115537848605575
sd2: 0.5845976753229369

mean3: -0.12367371360191462
sd3: 3.10303533123485
----------------
horsham
mean1: -0.06131652661064428
sd1: 0.2718969632681361

mean2: -0.13148936170212763
sd2: 0.4473776011066409

mean3: -0.34510556621880994
sd3: 1.049709784583347
----------------
sandown park
mean1: -0.08096267190569746
sd1: 0.35407487107066166

mean2: -0.09793103448275862
sd2: 0.4219607704461185

mean3: -0.2046248382923674
sd3: 0.8581205705420774
----------------
grafton
mean1: -0.034944071588366904
sd1: 0.1769008215784901

mean2: 0.007822410147991564
sd2: 0.15724946234881138

mean3: -0.19477459016393442
sd3: 3.8297193577371176
----------------
gunnedah
mean1: -0.13603723404255322
sd1: 1.707969893817828

mean2: 0.0029197080291970914
sd2: 0.3987861641850351

mean3: 0.02770034843205574
sd3: 0.3256314275146734
----------------
gosford
mean1: -0.19498141263940522
sd1: 2.9852082209338664

mean2: -0.028378378378378373
sd2: 0.6956273214468486

mean3: -0.11544217687074833
sd3: 1.9444644021638324
----------------
darwin
mean1: -0.06375000000000004
sd1: 0.22545638238280785

mean2: 0.018333333333333306
sd2: 0.5416769229798227

mean3: -0.45750000000000013
sd3: 0.8288206983419274
----------------
traralgon
mean1: -0.0880836236933798
sd1: 0.3612649379284072

mean2: -0.21639629200463495
sd2: 0.633362243674807

mean3: -0.36280310378273517
sd3: 1.1485826035246103
----------------
townsville
mean1: 0.008103448275862069
sd1: 0.05888202396937526

mean2: 0.021052631578947427
sd2: 0.17038330585514364

mean3: 0.031249999999999986
sd3: 0.3136852522832402
----------------
mount gambier
mean1: -0.061764705882352944
sd1: 0.13386715513864292

mean2: -0.02238805970149253
sd2: 0.22197949046204135

mean3: 0.0503787878787879
sd3: 0.38634339667723905
----------------
dapto
mean1: -0.15889679715302493
sd1: 1.9401560618953604

mean2: -0.13155940594059404
sd2: 1.1991592739468437

mean3: -0.29513274336283185
sd3: 3.1058840127587466
----------------
goulburn
mean1: -0.0417283950617284
sd1: 0.09129777793270144

mean2: 0.05263157894736843
sd2: 0.17780855381501645

mean3: -0.023267326732673302
sd3: 0.2714614240993401
----------------
dubbo
mean1: -0.10532500000000003
sd1: 1.1282727482195973

mean2: -0.1532584269662921
sd2: 1.7338809980036074

mean3: -0.10038126361655773
sd3: 1.245329998245091
----------------
taree
mean1: -0.00555555555555556
sd1: 0.09702360664762764

mean2: 0.013636363636363648
sd2: 0.1169516393660783

mean3: 0.06578947368421055
sd3: 0.3364100847958553
----------------
bulli
mean1: -0.08895569620253167
sd1: 0.9263726650181713

mean2: -0.01978193146417444
sd2: 0.4899039410427608

mean3: -0.271923076923077
sd3: 4.92709835753782
----------------
healesville
mean1: -0.1756470588235294
sd1: 0.8065555989862419

mean2: -0.23778153153153156
sd2: 0.8945750725230595

mean3: -0.4031478358628443
sd3: 1.0166039675427159
----------------
hobart
mean1: 0.0030232558139534835
sd1: 0.038851828469792606

mean2: 0.09350649350649348
sd2: 0.3023018455153561

mean3: 0.07151162790697677
sd3: 0.32836280786002864
----------------
wentworth park
mean1: -0.042553956834532385
sd1: 0.34093864661801687

mean2: -0.4171766342141864
sd2: 5.3355859625791515

mean3: -0.10474016853932584
sd3: 2.6996053477520032
----------------
angle park
mean1: -0.01727272727272728
sd1: 0.38855995225096623

mean2: -0.08239130434782606
sd2: 1.9118617356274146

mean3: 0.027491289198606272
sd3: 0.8663765581526668
----------------
the meadows
mean1: -0.0739056603773585
sd1: 0.727367980996745

mean2: -0.1353018372703412
sd2: 0.9671374411913256

mean3: -0.23546511627906977
sd3: 1.1540592231959275
----------------

In [10]:
qf = pd.read_csv()

,Unnamed: 0_x,track_type,track_name,race_number,race_date,name,price,Unnamed: 0.1,Place,DogName,...,RaceGrade,Track,date,TrainerLName,TrainerFName,Unnamed: 0_y,MENU_HINT,BSP,MORNINGWAP,PPTRADEDVOL
307369,331127,G,Richmond,1,2023-07-19,golden vella,7.00,1565748.0,2.0,golden vella,...,M,richmond,2023-07-19,Sultana,D,676.0,Richmond (AUS) 19th Jul,9.600000,4.3094,752.37
317261,341645,G,Richmond,2,2023-07-26,golden vella,1.50,1572719.0,4.0,golden vella,...,M,richmond,2023-07-26,Sultana,D,760.0,Richmond (AUS) 26th Jul,1.842434,1.5940,8435.90
327176,352138,G,Richmond,3,2023-08-02,golden vella,10.00,1579826.0,2.0,golden vella,...,MH,richmond,2023-08-02,Sultana,D,702.0,Richmond (AUS) 2nd Aug,13.500000,8.1185,989.24
346642,372970,G,Richmond,3,2023-08-16,golden vella,2.10,1592707.0,1.0,golden vella,...,MH,richmond,2023-08-16,Sultana,D,1807.0,Richmond (AUS) 16th Aug,2.360000,1.8864,5812.22
356436,383349,G,Richmond,3,2023-08-23,golden vella,3.00,1599385.0,1.0,golden vella,...,MF,richmond,2023-08-23,Sultana,D,985.0,Richmond (AUS) 23rd Aug,3.530495,2.3793,2883.24
366431,394030,G,Richmond,4,2023-08-30,golden vella,1.55,1604669.0,4.0,golden vella,...,5,richmond,2023-08-30,Sultana,D,931.0,Richmond (AUS) 30th Aug,1.725584,1.4318,7195.14
372260,400266,G,Richmond,12,2023-09-03,golden vella,1.26,1607917.0,1.0,golden vella,...,5,richmond,2023-09-03,Sultana,D,1635.0,Richmond (AUS) 3rd Sep,1.375087,1.3072,17770.75
382995,410680,G,Richmond,10,2023-09-10,golden vella,2.45,1615210.0,2.0,golden vella,...,5,richmond,2023-09-10,Sultana,D,231.0,Richmond (AUS) 10th Sep,2.900000,1.9293,2689.83
382996,410680,G,Richmond,10,2023-09-10,golden vella,2.45,1615604.0,2.0,golden vella,...,5,richmond,2023-09-10,Sultana,D,231.0,Richmond (AUS) 10th Sep,2.900000,1.9293,2689.83
393349,420902,G,Richmond,10,2023-09-17,golden vella,1.45,1623508.0,1.0,golden vella,...,5,richmond,2023-09-17,Sultana,D,392.0,Richmond (AUS) 17th Sep,1.611910,1.3069,18951.41
403048,431325,G,Richmond,10,2023-09-24,golden vella,1.30,1629848.0,1.0,golden vella,...,5,richmond,2023-09-24,Sultana,D,1423.0,Richmond (AUS) 24th Sep,1.468821,1.0000,9107.95
412506,441904,G,Richmond,5,2023-10-02,golden vella,2.50,1636906.0,6.0,golden vella,...,5,richmond,2023-10-02,Sultana,D,1826.0,Richmond (AUS) 2nd Oct,2.840000,2.1086,2978.45
521521,564217,G,Richmond,12,2023-12-24,golden vella,2.90,1714470.0,2.0,golden vella,...,5,richmond,2023-12-24,Sultana,D,744.0,Richmond (AUS) 24th Dec,3.309565,2.8337,2654.13
528904,573359,G,Richmond,5,2024-01-01,golden vella,2.05,1720269.0,6.0,golden vella,...,5,richmond,2024-01-01,Sultana,D,449.0,Richmond (AUS) 1st Jan,2.420000,1.6691,2225.41
537497,584057,G,Richmond,12,2024-01-08,golden vella,3.00,1726892.0,2.0,golden vella,...,5,richmond,2024-01-08,Sultana,D,484.0,Richmond (AUS) 8th Jan,3.488168,2.8764,3685.72
554672,605421,G,Richmond,8,2024-01-22,golden vella,6.50,1739005.0,4.0,golden vella,...,5,richmond,2024-01-22,Sultana,D,935.0,Richmond (AUS) 22nd Jan,7.420938,4.3042,1887.79
562869,615816,G,Richmond,10,2024-01-29,golden vella,1.75,1746073.0,1.0,golden vella,...,5,richmond,2024-01-29,poo,poo,914.0,Richmond (AUS) 29th Jan,2.007612,1.8148,8268.36