In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt
import matplotlib.pyplot as plt
import json

In [2]:
races = pd.read_csv('allRaces1.csv', index_col=False)
for col in list(races.columns):
    if('Unna' in col):
        races=races.drop(columns=[col])
print(races.dtypes)

Place           float64
DogName          object
Box             float64
Weight          float64
StartPrice      float64
PIR              object
Split           float64
RunTime         float64
RaceId            int64
Distance          int64
RaceGrade        object
Track            object
date             object
TrainerLName     object
TrainerFName     object
dtype: object

In [3]:
#races=races.drop(columns='Unnamed: 0')
races['date']=pd.to_datetime(races['date'],errors='coerce')
races['Place'] = pd.to_numeric(races['Place'], errors='coerce')
races = races.dropna(subset=['Place','Track'])
races['Place'] = races['Place'].astype(int)
races['Box']=races['Box'].astype(int)
races['TrainerName']=races['TrainerFName']+' '+races['TrainerLName']
races=races.drop(columns=['TrainerLName','TrainerFName'])
races['PIR']=races['PIR'].astype(str)
races

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerName
0,1,raine allen,1,27.4,2.4,111,6.68000,28.660,335811282,500,Restricted Win,bendigo,2018-07-01,C Grenfell
1,2,surf a lot,2,32.8,6.3,332,7.01000,28.820,335811282,500,Restricted Win,bendigo,2018-07-01,C Tyley
2,3,pingin' bee,6,25.5,9.3,443,7.24000,28.930,335811282,500,Restricted Win,bendigo,2018-07-01,P Dapiran
3,4,lucas the great,7,32.2,9.1,655,7.31000,29.030,335811282,500,Restricted Win,bendigo,2018-07-01,E Hamilton
4,5,quavo,4,28.9,3.4,766,7.38000,29.050,335811282,500,Restricted Win,bendigo,2018-07-01,P Dapiran
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2028459,1,black ombre,8,33.0,3.7,311.0,6.61875,27.071,1001129401,485,4,horsham,2024-03-08,poo poo
2028462,1,wrong bias,1,28.9,1.6,11.0,10.20000,23.070,1003096223,410,4,horsham,2024-03-08,poo poo
2028463,2,hidden stones,2,30.6,2.5,22.0,10.27000,23.135,1003096223,410,4,horsham,2024-03-08,poo poo
2028464,6,miss verdansky,4,28.5,52.5,76.0,11.05925,23.813,1003096223,410,5,horsham,2024-03-08,poo poo
2028465,3,happy potter,4,32.5,101.0,254.0,11.64000,23.700,1004319650,400,5,the gardens,2024-03-08,poo poo

In [4]:
'''a = races[races['Track']=='hobart']
a = a[a['Distance']==278]
ls = list(set(a['RaceId']))

for p in ls:
    races = races[races['RaceId']!=p]
    
a = races[races['Track']=='hobart']
a = a[a['Distance']==515]
ls = list(set(a['RaceId']))

for p in ls:
    races = races[races['RaceId']!=p]'''

"a = races[races['Track']=='hobart']\na = a[a['Distance']==278]\nls = list(set(a['RaceId']))\n\nfor p in ls:\n    races = races[races['RaceId']!=p]\n    \na = races[races['Track']=='hobart']\na = a[a['Distance']==515]\nls = list(set(a['RaceId']))\n\nfor p in ls:\n    races = races[races['RaceId']!=p]"

In [5]:
# races['Track']=np.where(races['Track'].str.contains('murray'),'murray bridge',races['Track'])
# races['Track']=np.where(races['Track'].str.contains('dport @'),'hobart',races['Track'])

for x in list(races['Track'].unique()):
    print(x)
    cas=races[races['Track']==x]
    for i in list(cas['Distance'].unique()):
        print(i,cas[cas['Distance']==i].shape[0])

bendigo
500 15375
425 38786
660 930
sandown park
515 35332
595 8332
715 2336
sale
440 24004
520 5350
650 800
510 699
435 2644
640 118
albion park
331 25516
395 25749
520 31974
600 4430
710 1844
mount gambier
512 11077
400 22137
600 1673
732 316
277 88
305 2226
angle park
388 9619
515 15502
600 2251
731 845
342 10138
530 11154
730 835
595 1598
shepparton
390 10293
450 22831
650 881
385 22887
traralgon
315 946
395 11132
525 737
665 7
595 46
500 1783
350 6824
450 4169
ballarat
450 25188
545 5011
390 28946
660 748
bathurst
450 5652
307 9692
520 2726
618 333
700 17
nowra
365 13885
630 421
520 4529
722 28
launceston
515 10549
278 11860
600 624
720 124
grafton
407 4036
305 4187
610 300
480 1232
350 10503
450 5281
660 180
northam
297 6844
509 3565
588 156
721 15
warragul
460 24249
400 37476
680 511
horsham
410 21084
485 7769
geelong
460 19833
400 31825
520 1403
596 130
680 326
lismore
420 6885
520 2609
635 144
259 3538
cannington
380 30447
520 26765
275 20133
600 3680
715 1901
maitland
400 12141
450 5957
565 1016
devonport
452 13837
580 382
cairns
410 248
544 23
ipswich
431 42703
520 16744
630 2027
732 105
288 17825
cranbourne
520 7244
311 20426
699 290
the meadows
525 38614
600 8414
725 1077
730 658
darwin
312 12950
383 8521
537 2442
richmond
400 18005
618 1667
330 15953
535 5460
717 82
790 8
401 8454
320 10812
520 4137
622 884
722 35
wentworth park
520 34749
720 2490
280 2601
rockhampton
407 19831
510 3122
hobart
340 7838
461 14901
599 632
278 139
515 68
casino
411 12932
620 392
484 4658
300 8850
goulburn
350 17184
440 10660
dapto
520 10063
600 1711
297 10393
729 53
healesville
300 31784
350 29444
strathalbyn
319 437
416 211
536 140
the gardens
515 13247
400 29945
600 2261
715 426
272 9175
wagga
400 5898
320 9998
525 2399
760 6
bulli
472 4796
400 10372
515 879
590 380
340 3372
bundaberg
460 13152
550 1748
531 479
315 636
tamworth
457 310
340 2067
402 1339
moree
302 1405
421 440
551 28
taree
314 5566
392 4445
537 1309
gawler
400 32861
531 8980
643 1322
muswellbrook
328 1638
429 574
560 112
336 1869
431 655
571 61
townsville
380 29531
498 7616
643 301
dubbo
318 11627
400 7401
516 2909
605 362
wauchope
384 3560
457 984
temora
330 9191
457 4438
570 370
broken hill
375 4535
525 944
armidale
365 88
520 13
440 26
young
347 3411
520 250
port augusta
447 276
503 113
591 10
kempsey
350 2081
508 238
coonamble
305 3108
400 984
530 198
405 257
mandurah
405 34870
490 13566
302 18956
647 307
300 1751
400 2610
488 914
652 122
capalaba
366 29909
cowra
327 662
453 310
lithgow
287 1176
506 314
414 1066
mudgee
530 26
311 279
434 96
coonabarabran
315 621
410 233
545 17
potts park
320 2541
440 504
530 70
warrnambool
390 23373
450 15985
650 483
gosford
388 14708
515 6618
603 1276
710 64
murray bridge
395 12155
455 6596
530 1372
300 9812
350 3201
390 6
680 452
gunnedah
340 12205
527 1392
431 4177
richmond straight
324 11775
canberra
530 1
monmore
480 8418
264 1640
630 753
684 35
900 10
210 5
kinsley
462 5036
268 1837
844 6
650 6
nottingham
500 5686
480 431
680 94
305 211
730 43
255 24
oxford
450 5501
847 6
650 239
253 227
addington
295 4354
520 1221
645 120
732 30
doncaster
450 3470
275 1913
483 1289
661 45
enniscorthy
480 2988
526 40
549 42
503 6
320 6
swindon
476 5680
262 715
682 180
896 6
towcester
270 2392
500 3570
712 180
942 11
yarmouth
462 4643
659 181
277 119
youghal
480 4273
503 6
romford
400 8851
575 1126
225 62
750 53
sheffield
500 5949
280 1620
660 268
480 29
915 4
720 9
934 6
perry barr
480 4478
275 1762
660 57
710 61
suffolk downs
388 4536
548 440
220 193
716 10
hove
500 6694
285 1385
695 291
515 307
740 5
tralee
480 4281
297 752
503 128
521 151
457 101
686 22
crayford
380 6641
540 1663
714 227
874 21
central park
480 506
265 594
642 18
450 17
500 5
491 2000
277 1887
664 21
sunderland
450 5923
261 1342
640 137
newcastle
480 7828
640 150
290 57
kilkenny
480 3964
663 35
harlow
238 4566
415 4465
592 74
lifford
480 1621
297 1537
503 111
526 72
750 6
newbridge
503 214
480 1637
297 303
526 76
shelbourne park
526 367
480 3638
503 897
549 103
320 151
686 232
777 6
937 17
galway
480 2392
320 786
503 170
526 34
741 10
297 121
hatrick
520 707
305 1239
755 30
limerick
480 3749
320 109
526 98
503 492
686 130
549 171
mullingar
480 3817
366 169
320 85
549 12
503 17
waterford
480 4122
297 59
526 40
668 91
503 110
thurles park
480 1709
302 71
521 178
curraheen park
503 298
480 3128
686 151
302 494
526 118
dundalk
480 1633
366 1451
503 106
526 59
567 27
613 4
549 36
drumbo park
480 864
306 890
526 32
503 43
764 4
clonmel
480 2244
503 200
274 517
686 6
manukau
318 2006
527 665
779 23
henlow
460 1918
550 197
692 18
277 79
manawatu
660 232
410 92
375 1088
457 622
pelaw grange
435 1667
ascot park
390 1052
457 403
cambridge
375 637
457 324
650 49
747 8
the valley
460 407
260 268
645 45

In [6]:
trk='maitland'
cas=races[races['Track']==trk]

if(trk=='mandurah'):
    cas['Distance']=np.where(cas['Distance']==488,490,cas['Distance'])

for p in list(set(cas['RaceId'])):
    a = cas[cas['RaceId']==p]
    if a.shape[0]<7:
        cas=cas[cas['RaceId']!=p]

cas.reset_index(drop=True, inplace=True)
cas['Distance']=cas['Distance'].astype(int)
print(cas['Distance'].unique())
cas

[400 450 565]

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerName
0,1,super glide,8,33.6,1.9,0,5.42,22.91,334311968,400,Maiden,maitland,2018-07-03,A Ivers
1,2,devine abbey,3,30.3,40.9,0,5.62,23.40,334311968,400,Maiden,maitland,2018-07-03,P Parrelli
2,3,miss devine,4,30.3,25.5,0,5.76,23.49,334311968,400,Maiden,maitland,2018-07-03,C Kedwell
3,4,despicable cody,5,33.1,9.7,0,5.52,23.51,334311968,400,Maiden,maitland,2018-07-03,S Easey
4,5,shortcuts,6,29.6,2.7,0,5.64,23.54,334311968,400,Maiden,maitland,2018-07-03,P Blake
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13676,8,little granny,3,26.4,13.0,788.0,8.21,26.01,1002682366,450,7,maitland,2024-03-04,poo poo
13677,7,once or twice,1,28.2,41.0,656.0,8.12,25.82,1002682366,450,7,maitland,2024-03-04,poo poo
13678,7,little zambora,8,25.2,101.0,677.0,15.06,33.75,1002682364,565,6,maitland,2024-03-04,poo poo
13679,4,ricky zoom,7,32.0,11.0,566.0,14.57,32.84,1002682364,565,7,maitland,2024-03-04,poo poo
13680,2,redfern ferrari,2,35.0,4.8,111.0,7.90,25.58,1002682366,450,7,maitland,2024-03-04,poo poo

In [7]:
dogs_done = set()
dog_races = {}


for i in range(1,cas.shape[0]+1):
    index = cas.shape[0]-i
    name = cas.iloc[index,1]
    if(name not in dogs_done):
        dog_past_race = races[races['DogName']==name]
        dog_races[name]=dog_past_race
        dogs_done.add(name)
    
    if(i%1000==0):
        print(i)

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000

In [8]:
'''trainers_done = set()
trainer_races = {}


for i in range(1,cas.shape[0]):
    index = cas.shape[0]-i
    name = cas.iloc[index,13]

    if(name not in trainers_done):
        dog_past_race = races[races['TrainerName']==name]
        trainer_races[name]=dog_past_race
        trainers_done.add(name)
    
    if(i%1000==0):
        print(i)'''

"trainers_done = set()\ntrainer_races = {}\n\n\nfor i in range(1,cas.shape[0]):\n    index = cas.shape[0]-i\n    name = cas.iloc[index,13]\n\n    if(name not in trainers_done):\n        dog_past_race = races[races['TrainerName']==name]\n        trainer_races[name]=dog_past_race\n        trainers_done.add(name)\n    \n    if(i%1000==0):\n        print(i)"

In [9]:
'''unique_track_dist={}
tracks = races['Track'].unique()
for i in range(tracks.size):
    dic={}
    track=tracks[i]
    df=races[races['Track']==track]
    dists = df['Distance'].unique()
    for i in dists:
        df2=df[df['Distance']==i]
        ls=[df2['Split'].mean(),df2['Split'].std(),df2['RunTime'].mean(),df2['RunTime'].std()]
        dic[str(i)]=ls
    unique_track_dist[track]=dic

with open('parameters.json', 'w') as json_file:
    json.dump(unique_track_dist, json_file)'''
    
with open('parameters.json','r') as json_file:
    unique_track_dist = json.load(json_file)

In [10]:
unique_races = {}
unique_ids = cas['RaceId'].unique()

for i in range(unique_ids.size): 
    race = cas[cas['RaceId']==unique_ids[i]]
    race = race.sort_values(by='Box')
    race.reset_index(drop=True, inplace=True)
    race['psplit']=None
    for j in range(race.shape[0]):
        name = race.iloc[j,1]
        past = dog_races[name]  
        
        date = race['date'][0]
        past = past[past['date']<date]
        past = past.sort_values(by='date')   
        
        past = past[past['Track']==trk]
        pred_split=0

        past.reset_index(drop=True, inplace=True)
        for k in range(past.shape[0]):
            if(pd.isna(past.iloc[k,6])==False):
                params = unique_track_dist[trk][str(past.iloc[k,9])]
                pred_split+=((past.iloc[k,6]-params[0])/params[1])
        if past.shape[0]!=0:
            pred_split/=past.shape[0]
        race.iloc[j,14]=pred_split
            
            
    unique_races[unique_ids[i]]=race
    
    if(i%1000==0):
        print(i)

0
1000

In [11]:
def pir_function(pirs,places):
    start=0
    mid=0
    fin=0
    for i in range(len(pirs)):
        pir = pirs[i]

        if(pd.isna(pir) or pir in ['nan','0','0.0',0] ):
            start+=4.5
            mid+=4.5
            fin+=4.5
        else: 
            try:
                if('.' in pir):
                    pir = str(int(float(pir)))


                if(len(pir)==1):
                    start+=int(pir)-places[i]
                    mid+=int(pir)-places[i]
                    fin+=int(pir)-places[i]
                elif(len(pir)==2):
                    start+=int(pir[0])-places[i]
                    mid+=int(pir[1])-places[i]
                    fin+=int(pir[1])-places[i]
                elif(len(pir)==3):
                    start+=int(pir[0])-places[i]
                    mid+=int(pir[1])-places[i]
                    fin+=int(pir[2])-places[i]
                elif(len(pir)==4):
                    start+=int(pir[0])-places[i]
                    mid+=(int(pir[1])+int(pir[2]))/2-places[i]
                    fin+=int(pir[3])-places[i]
                elif(len(pir)==5):
                    start+=(int(pir[0])+int(pir[1]))/2-places[i]
                    mid+=int(pir[2])-places[i]
                    fin+=(int(pir[3])+int(pir[4]))/2-places[i]
                elif(len(pir)==6):
                    start+=(int(pir[0])+int(pir[1]))/2-places[i]
                    mid+=(int(pir[2])+int(pir[3]))/2-places[i]
                    fin+=(int(pir[5])+int(pir[4]))/2-places[i]
                else:
                    start+=4.5-places[i]
                    mid+=4.5-places[i]
                    fin+=4.5-places[i]
            except:
                start+=4.5-places[i]
                mid+=4.5-places[i]
                fin+=4.5-places[i]


    start/=len(pirs)
    mid/=len(pirs)
    fin/=len(pirs)
    return([start,mid,fin])

In [12]:
duds = []
final_result=[]
df=''
last_5=''
last_2=''
trainer=''
race=''

for i in range(0,cas.shape[0]):
# for i in range(30500,31000):
    row = cas.iloc[i,]

    name = row['DogName']
    trainer = row['TrainerName']
    date = row['date']

    df = dog_races[name]
    df = df[df['date']<date]
    df=df.sort_values(by='date')

    '''trainer = trainer_races[row['TrainerName']]
#     trainer = trainer[trainer['Track']==trk]
    trainer = trainer[trainer['date']<date]'''

    if(df.shape[0]<5):
        duds.append(row['RaceId'])
    else:
        #last races

        time_z_avg = 0
        split_z_avg = 0

        for j in range(df.shape[0]):
            row2 = df.iloc[j,]
#           
            params = unique_track_dist[row2['Track']][str(row2['Distance'])]

            if(pd.isna(row2['Split'])==False):
                split_z_avg+=((row2['Split']-params[0])/params[1])
            if(pd.isna(row2['RunTime'])==False):
                time_z_avg+=((row2['RunTime']-params[2])/params[3])

        time_z_avg/=df.shape[0]
        split_z_avg/=df.shape[0]

        last_5_times=[]

        last_5 =df.tail(5)
        for j in range(5):
            row2 = last_5.iloc[j,]
#           
            params = unique_track_dist[row2['Track']][str(row2['Distance'])]

            if(pd.isna(row2['RunTime'])==False):
                last_5_times.append((row2['RunTime']-params[2])/params[3])

        last_5_times_avg=sum(last_5_times)/5
        in_form=0
        if(last_5_times_avg<time_z_avg):
            in_form=1

        track_params = unique_track_dist[row['Track']][str(row['Distance'])]

        pred_split = split_z_avg * track_params[1]+track_params[0]



        at_cas=df[df['Track']==trk]

        at_cas_perc= sum(df['Track']==trk)/df.shape[0]

        ctime_z_avg = 0
        csplit_z_avg=0


        for j in range(at_cas.shape[0]):
            row2 = at_cas.iloc[j,]

            params = unique_track_dist[row2['Track']][str(row2['Distance'])]

            if(pd.isna(row2['Split'])==False):
                csplit_z_avg+=((row2['Split']-params[0])/params[1])

            if(pd.isna(row2['RunTime'])==False):
                ctime_z_avg+=((row2['RunTime']-params[2])/params[3])
        if(at_cas.shape[0]!=0):
            ctime_z_avg/=at_cas.shape[0]
            csplit_z_avg/=at_cas.shape[0]

        pred_split2 = csplit_z_avg * track_params[1]+track_params[0]

        at_cas_dist=at_cas[at_cas['Distance']==row['Distance']]
        
        at_cas_dist_time=0
        at_cas_dist_time_avg=0
        in_form2=0

        if(at_cas_dist.shape[0]>0):
            final_row = at_cas_dist.iloc[-1,]
            at_cas_dist_time=(final_row['RunTime']-track_params[2])/track_params[3]
            at_cas_dist_time_avg=(at_cas_dist['RunTime'].mean()-track_params[2])/track_params[3]
            if(at_cas_dist_time<at_cas_dist_time_avg):
                in_form2=1








        '''if(trainer.shape[0]==0):
            mean_trainer_place=4.5
        else:
            mean_trainer_place=trainer['Place'].mean()

        trainer = trainer.tail(5)
        trainer_last_5_time_z = 0


        for j in range(trainer.shape[0]):
            row2 = trainer.iloc[j,]
            params = unique_track_dist[row2['Track']][row2['Distance']]

            if(pd.isna(row2['RunTime'])==False):
                trainer_last_5_time_z+=((row2['RunTime']-params[2])/params[3])
        if(trainer.shape[0]!=0):
            trainer_last_5_time_z/=trainer.shape[0]'''

        #faster dog inside       
        race = unique_races[row['RaceId']]

        #lane prefs setup
        #split win setup

        lane_prefs={}
        split_win=1000
        for dog in list(race['DogName']):
            races1=dog_races[dog]

            date = race['date'][0]
            races1 = races1[races1['date']<date]
            races1 = races1.sort_values(by='date') 

            line = race[race['DogName']==dog]
            
            try:
                if float(line['Split']) < split_win:
                    split_win = float(line['Split'])
            except:
                split_win=69

            mean_place=races1['Place'].mean()

            ins_mean = races1[races1['Box'].isin([1,2,3])]['Place'].mean() - mean_place
            mid_mean = races1[races1['Box'].isin([4,5,6])]['Place'].mean() - mean_place
            out_mean = races1[races1['Box'].isin([7,8])]['Place'].mean() - mean_place

            means=[ins_mean,mid_mean,out_mean]
            means = [0 if pd.isna(mean) else mean for mean in means]
            lowest=np.argmin(means)
            lane_prefs[dog]=means+[lowest]

        #split win
        split_win_result = 0
        if split_win == row['Split']:
            split_win_result = 1


        #lane preferences
        params = lane_prefs[name]

        means=params[0:3]
        best_lane=params[3]

        boxes=[[1,2,3],[4,5],[6,7,8]]
        lowest = best_lane
        box = row['Box']

        if(box<4):
            box2=0
        elif(box<6):
            box2=1
        else:
            box2=2

        mean_in_pos=means[box2]



        index= race.loc[race['Box'] == box].index[0]
        faster_inside=0
        psplit=race.iloc[index,14]


        if(pd.isna(psplit)==False):        
            for j in range(index):
                if(race.iloc[j,14]<psplit):
                    faster_inside=1
                    break

        #next to fast dog
        next_to_faster=0
        collision=0
        try:
            if(box==1):
                if(race.iloc[1,14]<psplit):
                    next_to_faster=1

            elif(box==max(race['Box'])):
                if(race.iloc[race.shape[0]-2,14]<psplit):
                    next_to_faster=1

            else:
                if(race.iloc[index-1,14]<psplit or race.iloc[index+1,14]<psplit):
                    next_to_faster=1


            #split win

            #collision

            if(box==1):
                if(lane_prefs[race.iloc[1,1]][3]<best_lane):
                    collision=1

            elif(box==max(race['Box'])):
                if(lane_prefs[race.iloc[race.shape[0]-2,1]][3]>best_lane):
                    collision=1


            else:
                if(lane_prefs[race.iloc[index-1,1]][3]>best_lane or lane_prefs[race.iloc[index+1,1]][3]<best_lane):
                    collision=1
        except:
            pass

        #first_out
        first_out=sum(race['psplit']<psplit)
        if(first_out>0):
            first_out=0
        elif(first_out==0):
            first_out=1

        #PIR
        pirs = list(df['PIR'])
        pir_res = pir_function(pirs,list(df['Place']))

        #mean place
        mean_place = df['Place'].mean()



        placing_box_res=[mean_place,mean_in_pos]
        last_5_res=[time_z_avg, split_z_avg,pred_split] + last_5_times + [last_5_times_avg,in_form]
        last_2_res=[ctime_z_avg,csplit_z_avg,pred_split2,at_cas_dist_time,at_cas_dist_time_avg,at_cas_perc,in_form2]
        #trainer_res=[mean_trainer_place,trainer_last_5_time_z]
        random=[faster_inside, next_to_faster,collision,first_out]


        cols=['RunTime','Split','Place','date','RaceId','Distance','Box','Weight','StartPrice']
        row3=list(row[cols])+placing_box_res+last_5_res+last_2_res
        row3+=random+pir_res
        final_result.append(row3)

    if(i%500==0):
        print(i)

0
500
1000
1500
2000
2500
3000
3500
4000
4500
5000
5500
6000
6500
7000
7500
8000
8500
9000
9500
10000
10500
11000
11500
12000
12500
13000
13500

In [13]:
colnames = ['RunTime','Split','Place','Date','RaceId','Distance','Box','Weight','StartPrice']
colnames+=['mean_place','mean_in_race_pos']
colnames+=['time_z_avg','split_z_avg','pred_split1']
colnames+=['t1','t2','t3','t4','t5','last_5_avg','in_form']
colnames+=['ctime_z_avg','csplit_z_avg','pred_split2','at_cas_dist_time','at_cas_dist_time_avg','at_cas_perc','in_form2']
#colnames+=['t_mean_place','t_5_time_z']
colnames+=['faster_inside','next_to_faster','collision','first_out','pir1','pir2','pir3']
           
df_final = pd.DataFrame(final_result,columns=colnames)
df_final['Win']=np.where(df_final['Place']==1,1,0)
for i in range(1,9):
    name = 'b'+str(i)
    df_final[name]=np.where(df_final['Box']==i,1,0)
    
df_final = df_final.drop(columns=['Box'])

In [14]:
i1 = []
i2 = []
for x in df_final.index:
    if df_final.loc[x,'b1'] == 1 or df_final.loc[x,'b2'] == 1 or df_final.loc[x,'b3'] == 1:
        i1.append(1)
        i2.append(0)
    elif df_final.loc[x,'b4'] == 1 or df_final.loc[x,'b5'] or df_final.loc[x,'b6']== 1:
        i1.append(0)
        i2.append(1)
    else:
        i1.append(0)
        i2.append(0)
df_final['i1'] = i1
df_final['i2'] = i2

In [15]:
df_final.to_csv('class2/'+trk+'.csv')
duds = set(duds)
duds = list(duds)
dc = {'Invalid':duds}
dff = pd.DataFrame(dc)

#If you change this to few_dogs you need to take out underscore, change class and change number up top
dff.to_csv('Invalid/Invalid_'+trk+'.csv')
df_final

,RunTime,Split,Place,Date,RaceId,Distance,Weight,StartPrice,mean_place,mean_in_race_pos,...,b1,b2,b3,b4,b5,b6,b7,b8,i1,i2
0,23.03,5.55,3,2018-08-02,346062746,400,30.6,25.9,3.000000,-0.333333,...,1,0,0,0,0,0,0,0,1,0
1,32.81,14.06,3,2018-08-02,346062747,565,27.8,20.4,4.833333,0.000000,...,0,0,0,0,0,0,0,1,0,0
2,26.13,8.05,5,2018-08-02,346062749,450,28.3,17.6,4.500000,0.000000,...,0,0,0,0,0,0,0,1,0,0
3,27.27,8.05,8,2018-08-02,346062749,450,34.2,66.1,5.800000,0.700000,...,0,1,0,0,0,0,0,0,1,0
4,23.41,5.44,5,2018-08-02,346062750,400,26.8,35.2,4.333333,-0.333333,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10741,26.01,8.21,8,2024-03-04,1002682366,450,26.4,13.0,3.833333,-1.333333,...,0,0,1,0,0,0,0,0,1,0
10742,25.82,8.12,7,2024-03-04,1002682366,450,28.2,41.0,4.000000,-0.600000,...,1,0,0,0,0,0,0,0,1,0
10743,33.75,15.06,7,2024-03-04,1002682364,565,25.2,101.0,5.552632,-0.452632,...,0,0,0,0,0,0,0,1,0,0
10744,32.84,14.57,4,2024-03-04,1002682364,565,32.0,11.0,4.000000,-0.875000,...,0,0,0,0,0,0,1,0,0,0
10745,25.58,7.90,2,2024-03-04,1002682366,450,35.0,4.8,3.888889,-0.888889,...,0,1,0,0,0,0,0,0,1,0

In [16]:
dc

{'Invalid': [3,
  1002682371,
  755384326,
  471119881,
  785346571,
  785346572,
  471119885,
  491190285,
  785346575,
  491190289,
  785346577,
  640882719,
  640882720,
  640882722,
  640882725,
  827791401,
  827791402,
  827791403,
  827791404,
  465432624,
  465432625,
  465432626,
  465432627,
  827791409,
  827791410,
  359700534,
  359700535,
  359700536,
  359700537,
  359700538,
  359700539,
  359700540,
  359700541,
  359700542,
  359700543,
  465432631,
  647725115,
  647725117,
  656365634,
  656365635,
  557054022,
  557054023,
  557054024,
  656365638,
  656365640,
  557054028,
  496488526,
  557054031,
  496488532,
  698431575,
  698431576,
  698431579,
  698431580,
  698431581,
  779243624,
  779243625,
  881692778,
  779243627,
  881692787,
  525625460,
  525625462,
  764145783,
  1652,
  599416954,
  764145787,
  599416956,
  881692794,
  525625470,
  1654,
  482214022,
  482214023,
  482214028,
  2189,
  2190,
  2194,
  2196,
  2197,
  2198,
  576096409,
  1659,
  346063007,
  576096415,
  576096417,
  346063010,
  576096419,
  346063012,
  346063014,
  346063017,
  346063019,
  346063021,
  346063024,
  346063025,
  382656695,
  382656696,
  382656697,
  382656699,
  382656701,
  382656702,
  382656703,
  382656704,
  382656705,
  377301186,
  377301187,
  880939428,
  377301190,
  377301191,
  377301194,
  377301195,
  807631050,
  807631051,
  807631052,
  807631053,
  832788685,
  629829841,
  629829842,
  832788686,
  629829844,
  832788688,
  832788690,
  832788693,
  888959183,
  888959188,
  4305,
  4306,
  4308,
  69858,
  69861,
  479135974,
  479135975,
  479135976,
  69862,
  479135980,
  69868,
  634972714,
  670071024,
  670071027,
  875176188,
  67841,
  846606594,
  846606595,
  846606596,
  846606597,
  846606598,
  710535431,
  710535432,
  846606599,
  710535434,
  875176195,
  875176196,
  67849,
  67847,
  354515215,
  354515217,
  354515218,
  354515219,
  354515221,
  354515222,
  354515223,
  354515224,
  354515225,
  282,
  286,
  364099873,
  364099875,
  364099877,
  364099878,
  364099880,
  364099881,
  364099882,
  472166707,
  472166708,
  472166709,
  472166710,
  350290241,
  350290244,
  350290245,
  350290246,
  350290247,
  350290248,
  350290249,
  350290250,
  606648650,
  606648651,
  606648656,
  606648658,
  620509543,
  620509545,
  620509546,
  620509547,
  620509548,
  700936086,
  55839,
  700936087,
  352178557,
  12670,
  352178559,
  12672,
  352178561,
  12671,
  352178565,
  352178567,
  12680,
  352178569,
  12679,
  352178571,
  352178573,
  811787032,
  352178576,
  352178577,
  2451,
  525253012,
  2453,
  2452,
  2458,
  880939420,
  880939421,
  2461,
  2460,
  718825888,
  538913185,
  718825889,
  538913187,
  718825890,
  472226213,
  538913189,
  718825891,
  718825892,
  718825893,
  718825894,
  757950888,
  757950890,
  757950891,
  865597876,
  820259253,
  820259254,
  865597881,
  820259262,
  576096714,
  576096715,
  576096718,
  576096720,
  576096721,
  576096723,
  4570,
  4571,
  4575,
  4576,
  4580,
  779246055,
  41452,
  807631345,
  41459,
  807631349,
  530405880,
  807631352,
  540566010,
  63992,
  63995,
  685412862,
  530405887,
  807631361,
  660802050,
  540566019,
  740379140,
  807631364,
  64002,
  660802057,
  55828,
  824845157,
  55830,
  55831,
  55838,
  514075167,
  334311968,
  334311969,
  334311970,
  334311971,
  334311972,
  334311973,
  334311974,
  343237152,
  343237153,
  343237154,
  343237155,
  343237156,
  343237157,
  343237158,
  343237159,
  343237160,
  343237161,
  414990891,
  414990893,
  514075182,
  634796596,
  634796597,
  634796598,
  634796599,
  634972718,
  634972720,
  561,
  566,
  564,
  451756609,
  451756610,
  781969991,
  451756616,
  451756617,
  451756618,
  781969992,
  781969993,
  557036109,
  781969994,
  781969997,
  557036112,
  752001618,
  557036115,
  557036118,
  752001623,
  798984791,
  798984793,
  752001626,
  798984796,
  798984798,
  569879138,
  569879139,
  569879140,
  569879144,
  569879146,
  718826099,
  824844915,
  824844916,
  718826102,
  718826103,
  459571833,
  459571834,
  459571835,
  718826105,
  745589373,
  459571840,
  705776258,
  705776259,
  705776264,
  705776266,
  2700,
  2701,
  2705,
  2706,
  2707,
  2708,
  815100577,
  815100578,
  804164260,
  815100580,
  771539622,
  815100581,
  804164264,
  771539625,
  815100583,
  771539627,
  815100586,
  540566199,
  530315960,
  530315961,
  540566200,
  540566201,
  572605114,
  540566205,
  540566206,
  540566207,
  572605115,
  338125506,
  338125507,
  338125508,
  338125509,
  509336259,
  509336263,
  338125512,
  338125513,
  338125514,
  338125515,
  572605123,
  785769158,
  785769163,
  785769164,
  785769165,
  4809,
  4810,
  388545238,
  388545239,
  388545245,
  388545253,
  388545255,
  716321511,
  561765098,
  561765099,
  716321514,
  561765102,
  561765103,
  865598192,
  865598193,
  592673523,
  865598198,
  592673528,
  592673530,
  435593991,
  726205196,
  726205197,
  435593998,
  562,
  726205200,
  435594001,
  811787024,
  811787026,
  563,
  366269206,
  423746327,
  811787030,
  423746329,
  366269209,
  366269210,
  366269212,
  366269213,
  366269214,
  366269215,
  423746336,
  601881371,
  601881372,
  601881374,
  407819044,
  421925669,
  601881375,
  407819047,
  407819048,
  423746344,
  601881377,
  601881378,
  421925676,
  60356,
  383284039,
  383284043,
  383284044,
  383284048,
  854,
  768852830,
  768852833,
  792203818,
  824845156,
  410792806,
  410792807,
  410792808,
  397624169,
  416009063,
  397624171,
  416009066,
  410792813,
  677645165,
  410792815,
  416009072,
  792203819,
  792203820,
  885078891,
  885078901,
  869978999,
  869979004,
  430809981,
  869979007,
  2954,
  2957,
  2959,
  877730705,
  877730707,
  790180764,
  790180765,
  592675743,
  592675745,
  592675746,
  790180771,
  592675752,
  432556971,
  432556972,
  432556975,
  714824627,
  714824628,
  611251132,
  611251134,
  611251137,
  611251138,
  815100865,
  815100868,
  815100869,
  815100870,
  829146049,
  829146051,
  829146055,
  829146056,
  829146057,
  829146058,
  50118,
  60357,
  50127,
  60367,
  375210962,
  375210967,
  734653399,
  375210969,
  375210970,
  375210971,
  734653400,
  734653401,
  734653402,
  734653405,
  5086,
  626240481,
  5082,
  623373283,
  623373284,
  623373285,
  623373286,
  626240486,
  626240488,
  623373289,
  5083,
  626240495,
  680758046,
  626240497,
  514075168,
  626240499,
  368866292,
  368866293,
  368866294,
  626240500,
  368866296,
  368866297,
  476742648,
  368866299,
  368866300,
  680758047,
  680758048,
  356903948,
  356903949,
  356903950,
  356903951,
  356903952,
  356903953,
  356903954,
  356903955,
  514075175,
  857095201,
  857095204,
  850664487,
  850664490,
  519461953,
  419605574,
  419605576,
  519461961,
  383284325,
  383284328,
  383284329,
  383284330,
  383284332,
  765477997,
  568775791,
  765477999,
  568775793,
  765478001,
  860650610,
  568775796,
  568775797,
  568775799,
  860650615,
  62583,
  502271098,
  62587,
  62585,
  62590,
  58501,
  70792,
  58507,
  68747,
  68751,
  795411886,
  842794414,
  68758,
  4304,
  3224,
  842794415,
  3228,
  842794416,
  3232,
  3233,
  438520999,
  438521002,
  749000598,
  57229,
  665337028,
  665337029,
  414990884,
  414990885,
  414990886,
  3502,
  57234,
  841163997,
  841163998,
  841163999,
  841164000,
  841164001,
  614163683,
  3505,
  451691750,
  841164007,
  57238,
  451691757,
  451691758,
  451691759,
  57239,
  654281986,
  654281990,
  654281992,
  485920010,
  485920014,
  485920015,
  721771792,
  721771793,
  721771794,
  392592664,
  392592667,
  392592671,
  824845159,
  392592680,
  54570,
  54571,
  675362095,
  54578,
  597578273,
  597578274,
  498695487,
  498695488,
  597578275,
  765478213,
  765478214,
  765478216,
  692870475,
  765478222,
  765478223,
  692870480,
  692870481,
  707257683,
  692870484,
  597578279,
  692870485,
  707257687,
  892812629,
  1369,
  663047515,
  663047516,
  1373,
  67844,
  663047520,
  1377,
  587851111,
  587851112,
  587851113,
  587851114,
  587851115,
  882009478,
  882009485,
  509334926,
  509334928,
  870731167,
  870731169,
  757960101,
  757960104,
  751957417,
  751957418,
  757960107,
  3498,
  561769902,
  757960110,
  561769904,
  360928689,
  360928690,
  360928691,
  360928692,
  360928693,
  360928694,
  561769906,
  795411887,
  795411889,
  795411894,
  842794419,
  842794420,
  528934337,
  528934338,
  638811585,
  638811587,
  528934341,
  528934342,
  638811588,
  528934344,
  638811591,
  832941686,
  392592865,
  792243687,
  792243688,
  489684462,
  857130488,
  857130489,
  445081087,
  857130496,
  632815105,
  370449922,
  370449924,
  370449925,
  370449927,
  632815111,
  370449929,
  370449930,
  370449931,
  370449932,
  632815112,
  632815113,
  645453347,
  443647524,
  443647529,
  443647530,
  645453354,
  1944,
  1945,
  520050235,
  520050236,
  520050242,
  370447959,
  370447967,
  370447968,
  370447969,
  370447970,
  370447971,
  854027879,
  854027883,
  4804,
  373966446,
  373966448,
  829290100,
  434708085,
  434708086,
  829290101,
  373966456,
  829290103,
  829290104,
  829290105,
  829290106,
  832941685,
  373966462,
  461094527,
  832941687,
  832941688,
  832941689,
  832941690,
  832941694,
  354496137,
  354496141,
  354496142,
  354496143,
  354496144,
  354496145,
  481900174,
  481900175,
  481900177,
  734725776,
  481900182,
  734725783,
  734725784,
  767946392,
  767946393,
  811787034,
  990396058,
  767946401,
  990396067,
  811787036,
  3757,
  467594926,
  467594927,
  3758,
  467594929,
  467594931,
  3766,
  467594935,
  842794690,
  689292996,
  689292997,
  842794692,
  842794695,
  689293000,
  614246090,
  689293002,
  842794698,
  614246093,
  614246094,
  877723340,
  614246096,
  877723341,
  877723343,
  877723344,
  877723346,
  516073174,
  516073176,
  410810073,
  580851418,
  580851419,
  580851615,
  410810079,
  426827504,
  18160,
  426827507,
  426827510,
  426827511,
  9978,
  9982,
  442494729,
  540612362,
  442494733,
  861001501,
  491190046,
  861001503,
  861001508,
  491190053,
  861001510,
  861001518,
  861001519,
  425377586,
  425377590,
  7992,
  425377593,
  7993,
  7996,
  400029502,
  714932034,
  336623427,
  400029508,
  400029509,
  555079492,
  336623431,
  714932038,
  555079497,
  555079498,
  336623435,
  555079499,
  336623437,
  555079500,
  336623439,
  338071376,
  336623441,
  338071377,
  336623443,
  338071378,
  336623445,
  338071379,
  338071381,
  338071383,
  338071384,
  853983067,
  853983071,
  853983073,
  614166371,
  461094763,
  461094765,
  461094767,
  461094770,
  606678937,
  340752251,
  340752252,
  702388091,
  340752256,
  340752257,
  340752258,
  340752259,
  340752260,
  340752261,
  340752262,
  606678939,
  702388096,
  601881379,
  606678940,
  775475083,
  888959180,
  775475085,
  888959181,
  775475087,
  775475088,
  57230,
  700936082,
  1938,
  378695572,
  57235,
  378695574,
  378695575,
  606678936,
  378695577,
  346062746,
  346062747,
  346062748,
  346062749,
  346062750,
  346062751,
  346062752,
  346062753,
  346062754,
  346062755,
  346062756,
  378695580,
  378695581,
  378695582,
  403013541,
  403013543,
  403013545,
  403013547,
  606678945,
  673093551,
  403013553,
  745289652,
  745289653,
  4021,
  745289655,
  4024,
  4022,
  656342971,
  656342972,
  656342973,
  656342974,
  566382527,
  822917051,
  656342977,
  822917053,
  683145155,
  65474,
  822917064,
  731273175,
  998752221,
  998752222,
  998752223,
  998752224,
  998752225,
  694815516,
  585152490,
  585152491,
  585152495,
  585152496,
  585152500,
  694815519,
  456456183,
  456456185,
  1002682362,
  1002682363,
  456456189,
  1002682366,
  1002682367]}

In [17]:
# if(trk=='mandurah'):
#     df_final['Distance']=np.where(df_final['Distance']==405,400,df_final['Distance'])
    
# df_final.to_csv('class/'+trk+'.csv')

In [18]:
# pd.read_csv('class/mandurah.csv')['Distance'].unique()