In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt
import matplotlib.pyplot as plt
import json

In [2]:
races = pd.read_csv('allRaces1.csv', index_col=False)
for col in list(races.columns):
    if('Unna' in col):
        races=races.drop(columns=[col])
print(races.dtypes)

Place           float64
DogName          object
Box             float64
Weight          float64
StartPrice      float64
PIR              object
Split           float64
RunTime         float64
RaceId            int64
Distance          int64
RaceGrade        object
Track            object
date             object
TrainerLName     object
TrainerFName     object
dtype: object

In [3]:
#races=races.drop(columns='Unnamed: 0')
races['date']=pd.to_datetime(races['date'],errors='coerce')
races['Place'] = pd.to_numeric(races['Place'], errors='coerce')
races = races.dropna(subset=['Place','Track'])
races['Place'] = races['Place'].astype(int)
races['Box']=races['Box'].astype(int)
races['TrainerName']=races['TrainerFName']+' '+races['TrainerLName']
races=races.drop(columns=['TrainerLName','TrainerFName'])
races['PIR']=races['PIR'].astype(str)
races

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerName
0,1,raine allen,1,27.4,2.4,111,6.68,28.66,335811282,500,Restricted Win,bendigo,2018-07-01,C Grenfell
1,2,surf a lot,2,32.8,6.3,332,7.01,28.82,335811282,500,Restricted Win,bendigo,2018-07-01,C Tyley
2,3,pingin' bee,6,25.5,9.3,443,7.24,28.93,335811282,500,Restricted Win,bendigo,2018-07-01,P Dapiran
3,4,lucas the great,7,32.2,9.1,655,7.31,29.03,335811282,500,Restricted Win,bendigo,2018-07-01,E Hamilton
4,5,quavo,4,28.9,3.4,766,7.38,29.05,335811282,500,Restricted Win,bendigo,2018-07-01,P Dapiran
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023832,7,loot to boot,6,22.9,81.0,227.0,5.67,31.48,1007029069,520,Maiden,wentworth park,2024-03-15,poo poo
2023833,2,kelly bolt,7,30.4,34.0,563.0,5.76,30.47,1007029069,520,Maiden,wentworth park,2024-03-15,poo poo
2023834,4,bradshaw,8,32.1,9.5,776.0,5.78,31.18,1007029069,520,Maiden,wentworth park,2024-03-15,poo poo
2023836,3,computer model,2,31.9,3.3,422.0,5.52,30.37,1007029070,520,7,wentworth park,2024-03-15,poo poo
2023837,6,walking tora,8,29.1,5.5,nan,NaN,19.09,1006693869,320,Maiden,wagga,2024-03-15,poo poo

In [4]:
'''a = races[races['Track']=='hobart']
a = a[a['Distance']==278]
ls = list(set(a['RaceId']))

for p in ls:
    races = races[races['RaceId']!=p]
    
a = races[races['Track']=='hobart']
a = a[a['Distance']==515]
ls = list(set(a['RaceId']))

for p in ls:
    races = races[races['RaceId']!=p]'''

"a = races[races['Track']=='hobart']\na = a[a['Distance']==278]\nls = list(set(a['RaceId']))\n\nfor p in ls:\n    races = races[races['RaceId']!=p]\n    \na = races[races['Track']=='hobart']\na = a[a['Distance']==515]\nls = list(set(a['RaceId']))\n\nfor p in ls:\n    races = races[races['RaceId']!=p]"

In [5]:
# races['Track']=np.where(races['Track'].str.contains('murray'),'murray bridge',races['Track'])
# races['Track']=np.where(races['Track'].str.contains('dport @'),'hobart',races['Track'])

dick = {}

for x in list(races['Track'].unique()):
    
    dick[x] = []
    
    print(x)
    cas=races[races['Track']==x]
    for i in list(cas['Distance'].unique()):
        print(i,cas[cas['Distance']==i].shape[0])
        if cas[cas['Distance']==i].shape[0] > 7000:
            dick[x].append(i)
dick

bendigo
500 15312
425 38665
660 930
sandown park
515 35277
595 8322
715 2330
sale
440 24004
520 5350
650 800
510 667
435 2576
640 126
albion park
331 25608
395 25783
520 32014
600 4438
710 1851
mount gambier
512 11078
400 22149
600 1665
732 316
277 88
305 2238
angle park
388 9619
515 15502
600 2251
731 845
342 10155
530 11135
730 830
595 1593
shepparton
390 10291
450 22828
650 881
385 22887
traralgon
315 946
395 11028
525 737
665 7
595 46
500 1743
350 6765
450 4100
ballarat
450 25210
545 5017
390 29013
660 748
bathurst
450 5652
307 9692
520 2726
618 333
700 17
nowra
365 13849
630 421
520 4549
722 28
launceston
515 10542
278 11840
600 628
720 124
grafton
407 4036
305 4187
610 300
480 1232
350 10312
450 5248
660 180
northam
297 6790
509 3528
588 156
721 15
warragul
460 24242
400 37483
680 511
horsham
410 21020
485 7746
geelong
460 19834
400 31803
520 1410
596 130
680 326
lismore
420 6885
520 2609
635 144
259 3538
cannington
380 30482
520 26789
275 20168
600 3664
715 1919
maitland
400 12138
450 5954
565 1022
devonport
452 13837
580 382
cairns
410 248
544 23
ipswich
431 42679
520 16719
630 2019
732 105
288 17639
cranbourne
520 7244
311 20426
699 290
the meadows
525 38536
600 8375
725 1077
730 664
darwin
312 12931
383 8524
537 2441
richmond
400 18005
618 1667
330 15953
535 5460
717 82
790 8
401 8420
320 10778
520 4027
622 853
722 35
wentworth park
520 34620
720 2484
280 2595
rockhampton
407 19837
510 3115
hobart
340 7849
461 14886
599 632
278 195
515 96
casino
411 12713
620 376
484 4570
300 8753
goulburn
350 17107
440 10624
dapto
520 9998
600 1683
297 10234
729 53
healesville
300 31731
350 29390
strathalbyn
319 437
416 211
536 140
the gardens
515 13199
400 29768
600 2260
715 426
272 9135
wagga
400 5902
320 9993
525 2399
760 6
bulli
472 4784
400 10344
515 879
590 380
340 3336
bundaberg
460 13197
550 1748
531 495
315 668
tamworth
457 310
340 2067
402 1339
moree
302 1405
421 440
551 28
taree
314 5566
392 4445
537 1309
gawler
400 32968
531 9003
643 1327
muswellbrook
328 1638
429 574
560 112
336 1744
431 601
571 61
townsville
380 29534
498 7626
643 301
dubbo
318 11546
400 7388
516 2882
605 391
wauchope
384 3524
457 981
temora
330 9068
457 4395
570 368
732 7
broken hill
375 4425
525 911
armidale
365 88
520 13
440 26
young
347 3411
520 250
port augusta
447 276
503 113
591 10
kempsey
350 2081
508 238
coonamble
305 3083
400 984
530 198
405 249
mandurah
405 34870
490 13566
302 18956
647 307
300 1827
400 2572
488 897
652 117
capalaba
366 29911
cowra
327 662
453 310
lithgow
287 1176
506 314
414 1066
mudgee
530 26
311 279
434 96
coonabarabran
315 621
410 233
545 17
potts park
320 2541
440 504
530 70
warrnambool
390 23318
450 15958
650 483
gosford
388 14556
515 6536
603 1265
710 64
murray bridge
395 12110
455 6597
530 1372
300 9800
350 3194
390 6
680 452
gunnedah
340 12067
527 1386
431 4149
richmond straight
324 11773
canberra
530 1
monmore
480 8418
264 1640
630 753
684 35
900 10
210 5
kinsley
462 5036
268 1837
844 6
650 6
nottingham
500 5685
480 431
680 94
305 211
730 43
255 24
oxford
450 5458
847 6
650 239
253 221
addington
295 4354
520 1221
645 120
732 30
doncaster
450 3434
275 1901
483 1279
661 45
enniscorthy
480 2937
526 40
549 42
503 6
320 6
swindon
476 5680
262 715
682 180
896 6
towcester
270 2392
500 3570
712 180
942 11
yarmouth
462 4642
659 181
277 119
youghal
480 4273
503 6
romford
400 8851
575 1126
225 62
750 53
sheffield
500 5949
280 1620
660 268
480 29
915 4
720 9
934 6
perry barr
480 4433
275 1739
660 57
710 61
suffolk downs
388 4536
548 440
220 193
716 10
hove
500 6644
285 1376
695 291
515 307
740 5
tralee
480 4239
297 736
503 128
521 151
457 101
686 22
crayford
380 6641
540 1663
714 227
874 21
central park
480 506
265 594
642 18
450 17
500 5
491 2000
277 1887
664 21
sunderland
450 5923
261 1342
640 137
newcastle
480 7828
640 150
290 57
kilkenny
480 3964
663 35
harlow
238 4566
415 4465
592 74
lifford
480 1593
297 1519
503 111
526 72
750 6
newbridge
503 214
480 1637
297 303
526 76
shelbourne park
526 355
480 3550
503 885
549 103
320 151
686 226
777 6
937 17
galway
480 2392
320 786
503 164
526 34
741 10
297 121
hatrick
520 707
305 1239
755 30
limerick
480 3671
320 109
526 98
503 440
686 119
549 171
mullingar
480 3761
366 163
320 85
549 12
503 17
waterford
480 3987
297 59
526 40
668 91
503 110
thurles park
480 1657
302 71
521 166
curraheen park
503 274
480 3093
686 145
302 494
526 118
dundalk
480 1627
366 1435
503 106
526 59
567 27
613 4
549 36
drumbo park
480 842
306 873
526 32
503 43
764 4
clonmel
480 2244
503 200
274 517
686 6
manukau
318 2006
527 665
779 23
henlow
460 1917
550 196
692 18
277 79
manawatu
660 226
410 84
375 1046
457 594
pelaw grange
435 1537
ascot park
390 1052
457 403
cambridge
375 637
457 324
650 49
747 8
the valley
460 407
260 268
645 45

{'bendigo': [500, 425],
 'sandown park': [515, 595],
 'sale': [440],
 'albion park': [331, 395, 520],
 'mount gambier': [512, 400],
 'angle park': [388, 515, 342, 530],
 'shepparton': [390, 450, 385],
 'traralgon': [395],
 'ballarat': [450, 390],
 'bathurst': [307],
 'nowra': [365],
 'launceston': [515, 278],
 'grafton': [350],
 'northam': [],
 'warragul': [460, 400],
 'horsham': [410, 485],
 'geelong': [460, 400],
 'lismore': [],
 'cannington': [380, 520, 275],
 'maitland': [400],
 'devonport': [452],
 'cairns': [],
 'ipswich': [431, 520, 288],
 'cranbourne': [520, 311],
 'the meadows': [525, 600],
 'darwin': [312, 383],
 'richmond': [400, 330, 401, 320],
 'wentworth park': [520],
 'rockhampton': [407],
 'hobart': [340, 461],
 'casino': [411, 300],
 'goulburn': [350, 440],
 'dapto': [520, 297],
 'healesville': [300, 350],
 'strathalbyn': [],
 'the gardens': [515, 400, 272],
 'wagga': [320],
 'bulli': [400],
 'bundaberg': [460],
 'tamworth': [],
 'moree': [],
 'taree': [],
 'gawler': [400, 531],
 'muswellbrook': [],
 'townsville': [380, 498],
 'dubbo': [318, 400],
 'wauchope': [],
 'temora': [330],
 'broken hill': [],
 'armidale': [],
 'young': [],
 'port augusta': [],
 'kempsey': [],
 'coonamble': [],
 'mandurah': [405, 490, 302],
 'capalaba': [366],
 'cowra': [],
 'lithgow': [],
 'mudgee': [],
 'coonabarabran': [],
 'potts park': [],
 'warrnambool': [390, 450],
 'gosford': [388],
 'murray bridge': [395, 300],
 'gunnedah': [340],
 'richmond straight': [324],
 'canberra': [],
 'monmore': [480],
 'kinsley': [],
 'nottingham': [],
 'oxford': [],
 'addington': [],
 'doncaster': [],
 'enniscorthy': [],
 'swindon': [],
 'towcester': [],
 'yarmouth': [],
 'youghal': [],
 'romford': [400],
 'sheffield': [],
 'perry barr': [],
 'suffolk downs': [],
 'hove': [],
 'tralee': [],
 'crayford': [],
 'central park': [],
 'sunderland': [],
 'newcastle': [480],
 'kilkenny': [],
 'harlow': [],
 'lifford': [],
 'newbridge': [],
 'shelbourne park': [],
 'galway': [],
 'hatrick': [],
 'limerick': [],
 'mullingar': [],
 'waterford': [],
 'thurles park': [],
 'curraheen park': [],
 'dundalk': [],
 'drumbo park': [],
 'clonmel': [],
 'manukau': [],
 'henlow': [],
 'manawatu': [],
 'pelaw grange': [],
 'ascot park': [],
 'cambridge': [],
 'the valley': []}

In [6]:
trk='launceston'
cas=races[races['Track']==trk]

if(trk=='mandurah'):
    cas['Distance']=np.where(cas['Distance']==488,490,cas['Distance'])

for p in list(set(cas['RaceId'])):
    a = cas[cas['RaceId']==p]
    if a.shape[0]<7:
        cas=cas[cas['RaceId']!=p]

cas.reset_index(drop=True, inplace=True)
cas['Distance']=cas['Distance'].astype(int)
print(cas['Distance'].unique())

cas

[515 278 600 720]

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerName
0,1,jughead jones,5,32.5,5.40,0,5.11,29.94,334325475,515,Grade 6,launceston,2018-07-02,L Nichols
1,2,lisa's dream,1,23.3,4.50,0,NaN,30.12,334325475,515,Grade 6,launceston,2018-07-02,R Watts
2,3,work wear,3,31.4,4.50,0,NaN,30.20,334325475,515,Grade 6,launceston,2018-07-02,E Medhurst
3,4,miss emerald,6,29.7,13.60,0,NaN,30.32,334325475,515,Grade 6,launceston,2018-07-02,E Medhurst
4,5,spirit flame,4,24.5,4.60,0,NaN,30.65,334325475,515,Grade 6,launceston,2018-07-02,R Watts
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20781,2,orson emmy,4,26.1,41.00,0.0,5.05,16.03,1004321688,278,3,launceston,2024-03-11,poo poo
20782,1,darryl's choice,2,26.7,1.95,0.0,4.95,15.85,1004321688,278,4,launceston,2024-03-11,poo poo
20783,3,bridwood carter,1,33.5,8.00,0.0,5.04,16.05,1004321688,278,4,launceston,2024-03-11,poo poo
20784,5,blazer express,8,26.6,18.00,0.0,5.09,16.31,1004321687,278,1,launceston,2024-03-11,poo poo
20785,2,bronte maree,6,26.7,6.50,0.0,4.99,16.05,1004321687,278,3,launceston,2024-03-11,poo poo

In [7]:
dogs_done = set()
dog_races = {}


for i in range(1,cas.shape[0]+1):
    index = cas.shape[0]-i
    name = cas.iloc[index,1]
    if(name not in dogs_done):
        dog_past_race = races[races['DogName']==name]
        dog_races[name]=dog_past_race
        dogs_done.add(name)
    
    if(i%1000==0):
        print(i)

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000

In [8]:
'''trainers_done = set()
trainer_races = {}


for i in range(1,cas.shape[0]):
    index = cas.shape[0]-i
    name = cas.iloc[index,13]

    if(name not in trainers_done):
        dog_past_race = races[races['TrainerName']==name]
        trainer_races[name]=dog_past_race
        trainers_done.add(name)
    
    if(i%1000==0):
        print(i)'''

"trainers_done = set()\ntrainer_races = {}\n\n\nfor i in range(1,cas.shape[0]):\n    index = cas.shape[0]-i\n    name = cas.iloc[index,13]\n\n    if(name not in trainers_done):\n        dog_past_race = races[races['TrainerName']==name]\n        trainer_races[name]=dog_past_race\n        trainers_done.add(name)\n    \n    if(i%1000==0):\n        print(i)"

In [9]:
'''unique_track_dist={}
tracks = races['Track'].unique()
for i in range(tracks.size):
    dic={}
    track=tracks[i]
    df=races[races['Track']==track]
    dists = df['Distance'].unique()
    for i in dists:
        df2=df[df['Distance']==i]
        ls=[df2['Split'].mean(),df2['Split'].std(),df2['RunTime'].mean(),df2['RunTime'].std()]
        dic[str(i)]=ls
    unique_track_dist[track]=dic

with open('parameters.json', 'w') as json_file:
    json.dump(unique_track_dist, json_file)'''
    
with open('parameters.json','r') as json_file:
    unique_track_dist = json.load(json_file)

In [10]:
unique_races = {}
unique_ids = cas['RaceId'].unique()

for i in range(unique_ids.size): 
    race = cas[cas['RaceId']==unique_ids[i]]
    race = race.sort_values(by='Box')
    race.reset_index(drop=True, inplace=True)
    race['psplit']=None
    for j in range(race.shape[0]):
        name = race.iloc[j,1]
        past = dog_races[name]  
        
        date = race['date'][0]
        past = past[past['date']<date]
        past = past.sort_values(by='date')   
        
        past = past[past['Track']==trk]
        pred_split=0

        past.reset_index(drop=True, inplace=True)
        for k in range(past.shape[0]):
            if(pd.isna(past.iloc[k,6])==False):
                params = unique_track_dist[trk][str(past.iloc[k,9])]
                pred_split+=((past.iloc[k,6]-params[0])/params[1])
        if past.shape[0]!=0:
            pred_split/=past.shape[0]
        race.iloc[j,14]=pred_split
            
            
    unique_races[unique_ids[i]]=race
    
    if(i%1000==0):
        print(i)

0
1000
2000

In [11]:
def pir_function(pirs,places):
    start=0
    mid=0
    fin=0
    for i in range(len(pirs)):
        pir = pirs[i]

        if(pd.isna(pir) or pir in ['nan','0','0.0',0] ):
            start+=4.5
            mid+=4.5
            fin+=4.5
        else: 
            try:
                if('.' in pir):
                    pir = str(int(float(pir)))


                if(len(pir)==1):
                    start+=int(pir)-places[i]
                    mid+=int(pir)-places[i]
                    fin+=int(pir)-places[i]
                elif(len(pir)==2):
                    start+=int(pir[0])-places[i]
                    mid+=int(pir[1])-places[i]
                    fin+=int(pir[1])-places[i]
                elif(len(pir)==3):
                    start+=int(pir[0])-places[i]
                    mid+=int(pir[1])-places[i]
                    fin+=int(pir[2])-places[i]
                elif(len(pir)==4):
                    start+=int(pir[0])-places[i]
                    mid+=(int(pir[1])+int(pir[2]))/2-places[i]
                    fin+=int(pir[3])-places[i]
                elif(len(pir)==5):
                    start+=(int(pir[0])+int(pir[1]))/2-places[i]
                    mid+=int(pir[2])-places[i]
                    fin+=(int(pir[3])+int(pir[4]))/2-places[i]
                elif(len(pir)==6):
                    start+=(int(pir[0])+int(pir[1]))/2-places[i]
                    mid+=(int(pir[2])+int(pir[3]))/2-places[i]
                    fin+=(int(pir[5])+int(pir[4]))/2-places[i]
                else:
                    start+=4.5-places[i]
                    mid+=4.5-places[i]
                    fin+=4.5-places[i]
            except:
                start+=4.5-places[i]
                mid+=4.5-places[i]
                fin+=4.5-places[i]


    start/=len(pirs)
    mid/=len(pirs)
    fin/=len(pirs)
    return([start,mid,fin])

In [12]:
duds = []
final_result=[]
df=''
last_5=''
last_2=''
trainer=''
race=''

for i in range(0,cas.shape[0]):
# for i in range(30500,31000):
    row = cas.iloc[i,]

    name = row['DogName']
    trainer = row['TrainerName']
    date = row['date']

    df = dog_races[name]
    df = df[df['date']<date]
    df=df.sort_values(by='date')

    '''trainer = trainer_races[row['TrainerName']]
#     trainer = trainer[trainer['Track']==trk]
    trainer = trainer[trainer['date']<date]'''

    if(df.shape[0]<5):
        duds.append(row['RaceId'])
    else:
        #last races

        time_z_avg = 0
        split_z_avg = 0

        for j in range(df.shape[0]):
            row2 = df.iloc[j,]
#           
            params = unique_track_dist[row2['Track']][str(row2['Distance'])]

            if(pd.isna(row2['Split'])==False):
                split_z_avg+=((row2['Split']-params[0])/params[1])
            if(pd.isna(row2['RunTime'])==False):
                time_z_avg+=((row2['RunTime']-params[2])/params[3])

        time_z_avg/=df.shape[0]
        split_z_avg/=df.shape[0]

        last_5_times=[]

        last_5 =df.tail(5)
        for j in range(5):
            row2 = last_5.iloc[j,]
#           
            params = unique_track_dist[row2['Track']][str(row2['Distance'])]

            if(pd.isna(row2['RunTime'])==False):
                last_5_times.append((row2['RunTime']-params[2])/params[3])

        last_5_times_avg=sum(last_5_times)/5
        in_form=0
        if(last_5_times_avg<time_z_avg):
            in_form=1

        track_params = unique_track_dist[row['Track']][str(row['Distance'])]

        pred_split = split_z_avg * track_params[1]+track_params[0]



        at_cas=df[df['Track']==trk]

        at_cas_perc= sum(df['Track']==trk)/df.shape[0]

        ctime_z_avg = 0
        csplit_z_avg=0


        for j in range(at_cas.shape[0]):
            row2 = at_cas.iloc[j,]

            params = unique_track_dist[row2['Track']][str(row2['Distance'])]

            if(pd.isna(row2['Split'])==False):
                csplit_z_avg+=((row2['Split']-params[0])/params[1])

            if(pd.isna(row2['RunTime'])==False):
                ctime_z_avg+=((row2['RunTime']-params[2])/params[3])
        if(at_cas.shape[0]!=0):
            ctime_z_avg/=at_cas.shape[0]
            csplit_z_avg/=at_cas.shape[0]

        pred_split2 = csplit_z_avg * track_params[1]+track_params[0]

        at_cas_dist=at_cas[at_cas['Distance']==row['Distance']]
        
        at_cas_dist_time=0
        at_cas_dist_time_avg=0
        in_form2=0

        if(at_cas_dist.shape[0]>0):
            final_row = at_cas_dist.iloc[-1,]
            at_cas_dist_time=(final_row['RunTime']-track_params[2])/track_params[3]
            at_cas_dist_time_avg=(at_cas_dist['RunTime'].mean()-track_params[2])/track_params[3]
            if(at_cas_dist_time<at_cas_dist_time_avg):
                in_form2=1








        '''if(trainer.shape[0]==0):
            mean_trainer_place=4.5
        else:
            mean_trainer_place=trainer['Place'].mean()

        trainer = trainer.tail(5)
        trainer_last_5_time_z = 0


        for j in range(trainer.shape[0]):
            row2 = trainer.iloc[j,]
            params = unique_track_dist[row2['Track']][row2['Distance']]

            if(pd.isna(row2['RunTime'])==False):
                trainer_last_5_time_z+=((row2['RunTime']-params[2])/params[3])
        if(trainer.shape[0]!=0):
            trainer_last_5_time_z/=trainer.shape[0]'''

        #faster dog inside       
        race = unique_races[row['RaceId']]

        #lane prefs setup
        #split win setup

        lane_prefs={}
        split_win=1000
        for dog in list(race['DogName']):
            races1=dog_races[dog]

            date = race['date'][0]
            races1 = races1[races1['date']<date]
            races1 = races1.sort_values(by='date') 

            line = race[race['DogName']==dog]
            
            try:
                if float(line['Split']) < split_win:
                    split_win = float(line['Split'])
            except:
                split_win=69

            mean_place=races1['Place'].mean()

            ins_mean = races1[races1['Box'].isin([1,2,3])]['Place'].mean() - mean_place
            mid_mean = races1[races1['Box'].isin([4,5,6])]['Place'].mean() - mean_place
            out_mean = races1[races1['Box'].isin([7,8])]['Place'].mean() - mean_place

            means=[ins_mean,mid_mean,out_mean]
            means = [0 if pd.isna(mean) else mean for mean in means]
            lowest=np.argmin(means)
            lane_prefs[dog]=means+[lowest]

        #split win
        split_win_result = 0
        if split_win == row['Split']:
            split_win_result = 1


        #lane preferences
        params = lane_prefs[name]

        means=params[0:3]
        best_lane=params[3]

        boxes=[[1,2,3],[4,5],[6,7,8]]
        lowest = best_lane
        box = row['Box']

        if(box<4):
            box2=0
        elif(box<6):
            box2=1
        else:
            box2=2

        mean_in_pos=means[box2]



        index= race.loc[race['Box'] == box].index[0]
        faster_inside=0
        psplit=race.iloc[index,14]


        if(pd.isna(psplit)==False):        
            for j in range(index):
                if(race.iloc[j,14]<psplit):
                    faster_inside=1
                    break

        #next to fast dog
        next_to_faster=0
        collision=0
        try:
            if(box==1):
                if(race.iloc[1,14]<psplit):
                    next_to_faster=1

            elif(box==max(race['Box'])):
                if(race.iloc[race.shape[0]-2,14]<psplit):
                    next_to_faster=1

            else:
                if(race.iloc[index-1,14]<psplit or race.iloc[index+1,14]<psplit):
                    next_to_faster=1


            #split win

            #collision

            if(box==1):
                if(lane_prefs[race.iloc[1,1]][3]<best_lane):
                    collision=1

            elif(box==max(race['Box'])):
                if(lane_prefs[race.iloc[race.shape[0]-2,1]][3]>best_lane):
                    collision=1


            else:
                if(lane_prefs[race.iloc[index-1,1]][3]>best_lane or lane_prefs[race.iloc[index+1,1]][3]<best_lane):
                    collision=1
        except:
            pass

        #first_out
        first_out=sum(race['psplit']<psplit)
        if(first_out>0):
            first_out=0
        elif(first_out==0):
            first_out=1

        #PIR
        pirs = list(df['PIR'])
        pir_res = pir_function(pirs,list(df['Place']))

        #mean place
        mean_place = df['Place'].mean()



        placing_box_res=[mean_place,mean_in_pos]
        last_5_res=[time_z_avg, split_z_avg,pred_split] + last_5_times + [last_5_times_avg,in_form]
        last_2_res=[ctime_z_avg,csplit_z_avg,pred_split2,at_cas_dist_time,at_cas_dist_time_avg,at_cas_perc,in_form2]
        #trainer_res=[mean_trainer_place,trainer_last_5_time_z]
        random=[faster_inside, next_to_faster,collision,first_out]


        cols=['RunTime','Split','Place','date','RaceId','Distance','Box','Weight','StartPrice']
        row3=list(row[cols])+placing_box_res+last_5_res+last_2_res
        row3+=random+pir_res
        final_result.append(row3)

    if(i%500==0):
        print(i)

0
500
1000
1500
2000
2500
3000
3500
4000
4500
5000
5500
6000
6500
7000
7500
8000
8500
9000
9500
10000
10500
11000
11500
12000
12500
13000
13500
14000
14500
15000
15500
16000
16500
17000
17500
18000
18500
19000
19500
20000
20500

In [13]:
colnames = ['RunTime','Split','Place','Date','RaceId','Distance','Box','Weight','StartPrice']
colnames+=['mean_place','mean_in_race_pos']
colnames+=['time_z_avg','split_z_avg','pred_split1']
colnames+=['t1','t2','t3','t4','t5','last_5_avg','in_form']
colnames+=['ctime_z_avg','csplit_z_avg','pred_split2','at_cas_dist_time','at_cas_dist_time_avg','at_cas_perc','in_form2']
#colnames+=['t_mean_place','t_5_time_z']
colnames+=['faster_inside','next_to_faster','collision','first_out','pir1','pir2','pir3']
           
df_final = pd.DataFrame(final_result,columns=colnames)
df_final['Win']=np.where(df_final['Place']==1,1,0)
for i in range(1,9):
    name = 'b'+str(i)
    df_final[name]=np.where(df_final['Box']==i,1,0)
    
df_final = df_final.drop(columns=['Box'])

In [14]:
i1 = []
i2 = []
for x in df_final.index:
    if df_final.loc[x,'b1'] == 1 or df_final.loc[x,'b2'] == 1 or df_final.loc[x,'b3'] == 1:
        i1.append(1)
        i2.append(0)
    elif df_final.loc[x,'b4'] == 1 or df_final.loc[x,'b5'] or df_final.loc[x,'b6']== 1:
        i1.append(0)
        i2.append(1)
    else:
        i1.append(0)
        i2.append(0)
df_final['i1'] = i1
df_final['i2'] = i2

In [15]:
df_final.to_csv('class2/'+trk+'.csv')
duds = set(duds)
duds = list(duds)
dc = {'Invalid':duds}
dff = pd.DataFrame(dc)

#If you change this to few_dogs you need to take out underscore, change class and change number up top
dff.to_csv('Invalid/Invalid_'+trk+'.csv')
df_final

,RunTime,Split,Place,Date,RaceId,Distance,Weight,StartPrice,mean_place,mean_in_race_pos,...,b1,b2,b3,b4,b5,b6,b7,b8,i1,i2
0,30.75,NaN,7,2018-07-23,340684182,515,26.0,19.20,4.000000,0.000000,...,0,0,0,0,0,0,1,0,0,0
1,30.22,NaN,5,2018-07-23,340684189,515,33.3,13.50,3.400000,-2.400000,...,0,0,0,0,0,0,1,0,0,0
2,16.43,NaN,4,2018-07-30,343293838,278,27.3,48.30,3.857143,0.142857,...,0,0,0,1,0,0,0,0,0,1
3,16.72,NaN,7,2018-07-30,343293838,278,25.2,27.00,4.200000,-0.200000,...,0,0,1,0,0,0,0,0,1,0
4,35.47,NaN,2,2018-07-30,343293840,600,32.3,4.80,2.400000,-0.400000,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17914,16.03,5.05,2,2024-03-11,1004321688,278,26.1,41.00,4.244444,0.286806,...,0,0,0,1,0,0,0,0,0,1
17915,15.85,4.95,1,2024-03-11,1004321688,278,26.7,1.95,2.350000,0.221429,...,0,1,0,0,0,0,0,0,1,0
17916,16.05,5.04,3,2024-03-11,1004321688,278,33.5,8.00,4.090909,-0.646465,...,1,0,0,0,0,0,0,0,1,0
17917,16.31,5.09,5,2024-03-11,1004321687,278,26.6,18.00,3.647727,0.579545,...,0,0,0,0,0,0,0,1,0,0
17918,16.05,4.99,2,2024-03-11,1004321687,278,26.7,6.50,3.360000,-0.217143,...,0,0,0,0,0,1,0,0,0,1

In [16]:
dc

{'Invalid': [410810380,
  410810381,
  410810382,
  28686,
  28684,
  606679058,
  606679060,
  606679063,
  403060764,
  606679068,
  606679074,
  580851747,
  580851748,
  580851749,
  515262517,
  515262518,
  515262519,
  515262525,
  591284292,
  591284294,
  10311,
  591284296,
  10320,
  596389974,
  596389976,
  596389982,
  737939553,
  737939554,
  857139304,
  535478378,
  535478379,
  632746092,
  535478381,
  632746093,
  535478383,
  465432688,
  465432689,
  465432690,
  632746094,
  465432692,
  632746099,
  465432696,
  465432697,
  20615,
  51723,
  430776458,
  430776459,
  51724,
  623859855,
  623859856,
  496488593,
  623859857,
  496488595,
  496488596,
  623859859,
  623859863,
  51726,
  51727,
  656365729,
  656365730,
  656365734,
  472166570,
  472166573,
  472166578,
  472166579,
  558489783,
  448762043,
  846606523,
  846606524,
  558489790,
  846606525,
  585152706,
  846606531,
  846606532,
  585152713,
  415971533,
  415971539,
  827699411,
  827699414,
  69848,
  69849,
  827699418,
  69851,
  69850,
  650115297,
  569845986,
  650115298,
  569845988,
  650115299,
  69857,
  685422824,
  569845994,
  569845995,
  617984234,
  617984235,
  617984236,
  685422826,
  685422828,
  815014698,
  51436,
  617984243,
  51443,
  51437,
  67831,
  67833,
  637614330,
  67834,
  685422844,
  407589117,
  637614334,
  67840,
  407589122,
  55818,
  403013893,
  403013895,
  403013896,
  407589128,
  870678795,
  637614348,
  870678796,
  870678803,
  870678804,
  338868515,
  338868516,
  338868517,
  338868518,
  837931303,
  837931304,
  338868521,
  479113513,
  479113514,
  338868524,
  479113516,
  338868526,
  479113515,
  837931305,
  338868529,
  479113522,
  338868531,
  837931307,
  837931308,
  338868534,
  338868535,
  837931312,
  629797180,
  629797181,
  490019141,
  490019142,
  629797189,
  490019145,
  490019146,
  490019149,
  374051154,
  374051156,
  374051157,
  865622357,
  374051159,
  695953752,
  374051161,
  374051162,
  374051163,
  456468828,
  451756381,
  456468830,
  695953753,
  695953755,
  364099937,
  364099938,
  364099939,
  456468836,
  695953756,
  857139308,
  865622366,
  364099944,
  364099945,
  364099946,
  629829992,
  629829993,
  698513773,
  745290090,
  745290091,
  745290092,
  745290093,
  12660,
  12664,
  383635836,
  12669,
  12668,
  383635839,
  383635843,
  350290308,
  350290309,
  350290310,
  350290311,
  350290312,
  383635849,
  350290313,
  350290314,
  350290315,
  350290316,
  350290317,
  807631247,
  807631248,
  807631249,
  383635862,
  383635864,
  865622365,
  517810594,
  491184551,
  491184555,
  426785209,
  426785211,
  810746304,
  810746305,
  426785220,
  426785226,
  650115531,
  650115532,
  378618329,
  378618330,
  378618332,
  656366044,
  378618337,
  41442,
  41443,
  461085749,
  23034,
  23035,
  23036,
  865622530,
  865622531,
  601852420,
  356884997,
  356884998,
  865622533,
  356885000,
  356885001,
  356885002,
  356885003,
  599403019,
  356885005,
  356885006,
  356885007,
  599403020,
  599403021,
  744352273,
  744352274,
  599403028,
  744352275,
  744352276,
  744352277,
  820703760,
  820703762,
  744352282,
  485632539,
  485632540,
  485632541,
  32266,
  32267,
  667728443,
  667728444,
  718826043,
  572604990,
  572604991,
  718826045,
  718826047,
  702388803,
  702388811,
  702388812,
  388545102,
  889002576,
  889002577,
  388545106,
  889002580,
  889002581,
  439964246,
  439964247,
  388545114,
  530405980,
  439964253,
  439964254,
  49760,
  49761,
  43623,
  49769,
  804164202,
  804164203,
  60348,
  43632,
  716321407,
  716321408,
  716321410,
  491184782,
  491184783,
  680757908,
  874633884,
  680757917,
  874633885,
  874633886,
  850778787,
  710515364,
  710515365,
  710515366,
  557036199,
  557036200,
  710515369,
  694815402,
  694815403,
  850778792,
  850778794,
  694815411,
  850778805,
  525253302,
  525253303,
  850778806,
  880939704,
  880939705,
  880939709,
  677866176,
  880939712,
  525253319,
  677866185,
  634796750,
  726205138,
  726205139,
  634796759,
  472226521,
  472226522,
  472226530,
  824847078,
  824847080,
  824847081,
  824847082,
  824847083,
  756122355,
  756122356,
  408804092,
  408804093,
  408804100,
  665363207,
  718826248,
  337093388,
  337093389,
  337093390,
  337093391,
  337093392,
  337093393,
  337093394,
  337093395,
  337093396,
  337093397,
  337093398,
  665363222,
  718826264,
  343237413,
  343237414,
  343237415,
  388545318,
  388545320,
  343237418,
  388545322,
  601852710,
  343237421,
  601852711,
  601852718,
  705776425,
  388545329,
  705776426,
  705776433,
  815014699,
  509336376,
  509336377,
  998755139,
  998755140,
  41797,
  41798,
  41799,
  62277,
  998755141,
  775473995,
  998755149,
  775473998,
  482751326,
  482751328,
  482751331,
  19304,
  50025,
  19305,
  572605291,
  50032,
  482751346,
  768852850,
  768852851,
  768852852,
  482751350,
  768852853,
  54721,
  43907,
  43909,
  597891975,
  597891976,
  597891979,
  592673677,
  597891981,
  592673679,
  597891983,
  62353,
  62357,
  1004321690,
  515974043,
  515974044,
  515974045,
  710515613,
  785800091,
  707343265,
  707343266,
  707343267,
  707343268,
  367774637,
  367774639,
  367774641,
  378649523,
  378649524,
  378649526,
  764507062,
  764507064,
  367774649,
  882009016,
  764507067,
  882009019,
  882009020,
  50109,
  50111,
  50110,
  824847297,
  824847298,
  824847299,
  824847300,
  824847301,
  824847302,
  60354,
  707257294,
  21460,
  35798,
  432557016,
  870678520,
  421942234,
  421942237,
  421942238,
  432557023,
  9966,
  421942241,
  995179489,
  9967,
  647631845,
  995179494,
  647631847,
  647631852,
  846620299,
  17390,
  889068538,
  889068539,
  889068546,
  889068547,
  37893,
  15373,
  760323086,
  760323087,
  15374,
  760323089,
  15380,
  745616406,
  745616407,
  745616408,
  996299801,
  996299802,
  996299803,
  823039006,
  745616415,
  823039007,
  823039013,
  397624361,
  397624363,
  345855028,
  345855029,
  345855030,
  345855031,
  345855032,
  345855033,
  345855034,
  345855035,
  345855036,
  345855037,
  375211070,
  66622,
  66623,
  461085761,
  66624,
  614163523,
  614163524,
  375211077,
  614163525,
  66626,
  66632,
  375211084,
  614163532,
  375211086,
  350149712,
  350149713,
  350149714,
  350149715,
  350149716,
  350149718,
  350149719,
  350149720,
  350149721,
  448896090,
  448896093,
  476742751,
  476742754,
  458617958,
  476742758,
  448896105,
  448896107,
  458617966,
  860994677,
  860994678,
  58492,
  70780,
  70781,
  58497,
  68738,
  68739,
  68737,
  68740,
  674481293,
  674481294,
  674481295,
  502271122,
  502271124,
  502271125,
  419605657,
  419605658,
  502271131,
  419605662,
  392625311,
  419605665,
  392625314,
  419605666,
  392625319,
  383284393,
  383284394,
  383284395,
  775474347,
  40945,
  18150,
  18152,
  732290241,
  732290243,
  530388185,
  530388186,
  7981,
  530388190,
  18158,
  530388193,
  36073,
  36076,
  865622534,
  423728368,
  785800432,
  5365,
  5367,
  5368,
  423728383,
  17663,
  779246090,
  779246091,
  865622539,
  15624,
  15627,
  578848014,
  578848015,
  60691,
  60692,
  60693,
  70932,
  70935,
  70933,
  70934,
  471086362,
  471086363,
  70941,
  54561,
  471086370,
  54562,
  54563,
  46380,
  46381,
  46382,
  860650808,
  860650809,
  860650810,
  587851067,
  587851068,
  587851069,
  587851070,
  860650817,
  587851076,
  768664901,
  768664908,
  842794334,
  842794338,
  842794339,
  771810660,
  771810662,
  771810666,
  771810668,
  520050038,
  792243576,
  1001129343,
  1001129344,
  1001129345,
  1001129347,
  757960074,
  757960076,
  340684182,
  340684183,
  340684184,
  340684185,
  340684186,
  340684187,
  340684188,
  340684189,
  340684190,
  406834591,
  654282145,
  406834598,
  406834610,
  481899955,
  481899956,
  481899957,
  888327614,
  888327615,
  750374337,
  888327617,
  504090051,
  504090052,
  750374340,
  765478340,
  504090055,
  643552711,
  765478342,
  765478343,
  765478344,
  765478347,
  857130444,
  857130445,
  54729,
  643552720,
  765398480,
  857130452,
  765398488,
  523460058,
  523460060,
  771810780,
  50656,
  50657,
  50658,
  523460067,
  50660,
  50659,
  561769958,
  740281830,
  740281832,
  50664,
  561769962,
  30184,
  561769964,
  561769971,
  509335028,
  804048374,
  740281848,
  804048376,
  804048382,
  368868866,
  368868869,
  663047686,
  700978695,
  392592904,
  368868873,
  392592905,
  638930443,
  638930444,
  392592909,
  504053261,
  638930446,
  700978696,
  392592913,
  700978697,
  368868883,
  504053268,
  700978704,
  796151315,
  796151316,
  32275,
  796151324,
  360982052,
  360982053,
  360982054,
  360982055,
  360928805,
  360928806,
  360982058,
  360928808,
  360982060,
  360982061,
  360928811,
  360928814,
  626218541,
  626218542,
  842792503,
  842792504,
  461094459,
  461094460,
  842792507,
  884739656,
  884739657,
  884739659,
  884739660,
  884739665,
  670592596,
  734725719,
  734725720,
  734725721,
  576081515,
  576081517,
  520050287,
  520050289,
  370450034,
  370450038,
  370450039,
  370450040,
  370450041,
  370450042,
  520050296,
  576081532,
  601852424,
  576081534,
  689294969,
  689294971,
  689294977,
  832472703,
  832472704,
  530388615,
  530388616,
  846620297,
  400273034,
  400273035,
  530388618,
  530388619,
  530388620,
  530388621,
  451755664,
  451755665,
  451755666,
  530388622,
  443647636,
  52886,
  52887,
  451755672,
  500543130,
  752129692,
  752129693,
  52894,
  500543139,
  837666489,
  434708154,
  434708155,
  434708156,
  837666490,
  837666491,
  837666492,
  837666493,
  837666494,
  434708162,
  832941766,
  832941767,
  416007890,
  354496214,
  354496215,
  354496216,
  354496217,
  354496218,
  434716375,
  354496221,
  354496222,
  354496223,
  689297121,
  689297122,
  334325475,
  334325476,
  334325477,
  334325478,
  689297124,
  334325480,
  334325481,
  334325482,
  334325483,
  334325484,
  334325485,
  689297125,
  689297129,
  40685,
  561770225,
  561770226,
  9971,
  9970,
  561770229,
  815075061,
  815075062,
  815075063,
  561770233,
  815075066,
  467595004,
  467595006,
  622589694,
  622589695,
  622589697,
  877657857,
  645842697,
  645842698,
  645842699,
  30482,
  724780841,
  32553,
  724780845,
  829183790,
  7982,
  729421616,
  829183792,
  829183794,
  729421619,
  32560,
  614166325,
  7983,
  614166327,
  801455932,
  426827582,
  426827583,
  614166334,
  801455934,
  426827586,
  829183807,
  426827588,
  63300,
  69975,
  69976,
  71503,
  71504,
  442494804,
  71511,
  442494813,
  580851556,
  580851557,
  425377641,
  580851563,
  425377644,
  425377645,
  69984,
  382656372,
  425377652,
  382656374,
  382656377,
  382656379,
  382656380,
  57219,
  57220,
  57224,
  343293837,
  343293838,
  343293840,
  343293841,
  343293842,
  343293843,
  343293844,
  343293845,
  343293846,
  343293847,
  611211161,
  400273306,
  611211168,
  24489,
  400273322,
  65464,
  65465,
  869953470,
  26559,
  26560,
  26561,
  869953480,
  714932172,
  869953485,
  869953488,
  336623571,
  336623572,
  336623573,
  609365972,
  609365974,
  609365975,
  683145184,
  877658082,
  683145192,
  660830191,
  870678511,
  870678512,
  853983218,
  660830195,
  853983219,
  853983221,
  870678513,
  870678515,
  870678517,
  877658097,
  40950,
  40946,
  853983228]}

In [17]:
# if(trk=='mandurah'):
#     df_final['Distance']=np.where(df_final['Distance']==405,400,df_final['Distance'])
    
# df_final.to_csv('class/'+trk+'.csv')

In [18]:
# pd.read_csv('class/mandurah.csv')['Distance'].unique()