In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt
import matplotlib.pyplot as plt
import json

In [2]:
races = pd.read_csv('allRaces1.csv', index_col=False)
for col in list(races.columns):
    if('Unna' in col):
        races=races.drop(columns=[col])
print(races.dtypes)

Place           float64
DogName          object
Box             float64
Weight          float64
StartPrice      float64
PIR              object
Split           float64
RunTime         float64
RaceId            int64
Distance          int64
RaceGrade        object
Track            object
date             object
TrainerLName     object
TrainerFName     object
dtype: object

In [3]:
#races=races.drop(columns='Unnamed: 0')
races['date']=pd.to_datetime(races['date'],errors='coerce')
races['Place'] = pd.to_numeric(races['Place'], errors='coerce')
races = races.dropna(subset=['Place','Track'])
races['Place'] = races['Place'].astype(int)
races['Box']=races['Box'].astype(int)
races['TrainerName']=races['TrainerFName']+' '+races['TrainerLName']
races=races.drop(columns=['TrainerLName','TrainerFName'])
races['PIR']=races['PIR'].astype(str)
races

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerName
0,1,raine allen,1,27.4,2.4,111,6.68000,28.660,335811282,500,Restricted Win,bendigo,2018-07-01,C Grenfell
1,2,surf a lot,2,32.8,6.3,332,7.01000,28.820,335811282,500,Restricted Win,bendigo,2018-07-01,C Tyley
2,3,pingin' bee,6,25.5,9.3,443,7.24000,28.930,335811282,500,Restricted Win,bendigo,2018-07-01,P Dapiran
3,4,lucas the great,7,32.2,9.1,655,7.31000,29.030,335811282,500,Restricted Win,bendigo,2018-07-01,E Hamilton
4,5,quavo,4,28.9,3.4,766,7.38000,29.050,335811282,500,Restricted Win,bendigo,2018-07-01,P Dapiran
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2026994,3,bomb roberta,6,26.4,9.0,6554.0,5.27425,30.558,1004675894,525,6,the meadows,2024-03-16,poo poo
2026995,7,stacy's mum,5,27.5,3.2,7767.0,5.36175,30.842,1004675894,525,5,the meadows,2024-03-16,poo poo
2026996,6,no way punk,4,30.8,26.0,8886.0,5.37925,30.815,1004675894,525,7,the meadows,2024-03-16,poo poo
2026997,7,only phones,5,26.2,8.5,7766.0,5.29950,30.584,1007040576,525,5,the meadows,2024-03-16,poo poo
2026998,3,stella girl,2,25.7,5.0,5555.0,9.34250,35.121,1007040581,600,5,the meadows,2024-03-16,poo poo

In [4]:
'''a = races[races['Track']=='hobart']
a = a[a['Distance']==278]
ls = list(set(a['RaceId']))

for p in ls:
    races = races[races['RaceId']!=p]
    
a = races[races['Track']=='hobart']
a = a[a['Distance']==515]
ls = list(set(a['RaceId']))

for p in ls:
    races = races[races['RaceId']!=p]'''

"a = races[races['Track']=='hobart']\na = a[a['Distance']==278]\nls = list(set(a['RaceId']))\n\nfor p in ls:\n    races = races[races['RaceId']!=p]\n    \na = races[races['Track']=='hobart']\na = a[a['Distance']==515]\nls = list(set(a['RaceId']))\n\nfor p in ls:\n    races = races[races['RaceId']!=p]"

In [5]:
# races['Track']=np.where(races['Track'].str.contains('murray'),'murray bridge',races['Track'])
# races['Track']=np.where(races['Track'].str.contains('dport @'),'hobart',races['Track'])

dick = {}

for x in list(races['Track'].unique()):
    
    dick[x] = []
    
    print(x)
    cas=races[races['Track']==x]
    for i in list(cas['Distance'].unique()):
        print(i,cas[cas['Distance']==i].shape[0])
        if cas[cas['Distance']==i].shape[0] > 7000:
            dick[x].append(i)
dick

bendigo
500 15335
425 38820
660 938
sandown park
515 35277
595 8322
715 2330
sale
440 24004
520 5350
650 800
510 667
435 2576
640 126
albion park
331 25608
395 25845
520 32072
600 4454
710 1858
mount gambier
512 11078
400 22155
600 1665
732 316
277 88
305 2238
angle park
388 9619
515 15502
600 2251
731 845
342 10215
530 11144
730 830
595 1593
shepparton
390 10291
450 22828
650 881
385 22887
traralgon
315 946
395 11064
525 737
665 7
595 46
500 1743
350 6794
450 4121
ballarat
450 25279
545 5017
390 29112
660 748
bathurst
450 5652
307 9692
520 2726
618 333
700 17
nowra
365 13849
630 421
520 4549
722 28
launceston
515 10548
278 11848
600 628
720 124
grafton
407 4036
305 4187
610 300
480 1232
350 10380
450 5271
660 180
northam
297 6790
509 3528
588 156
721 15
warragul
460 24307
400 37582
680 523
horsham
410 21076
485 7753
geelong
460 19857
400 31866
520 1410
596 130
680 326
lismore
420 6885
520 2609
635 144
259 3538
cannington
380 30482
520 26839
275 20168
600 3678
715 1939
maitland
400 12138
450 5954
565 1022
devonport
452 13837
580 382
cairns
410 248
544 23
ipswich
431 42719
520 16809
630 2038
732 105
288 17732
cranbourne
520 7244
311 20426
699 290
the meadows
525 38605
600 8393
725 1077
730 664
darwin
312 12931
383 8524
537 2441
richmond
400 18005
618 1667
330 15953
535 5460
717 82
790 8
401 8420
320 10778
520 4080
622 879
722 35
wentworth park
520 34674
720 2492
280 2595
rockhampton
407 19837
510 3115
hobart
340 7849
461 14886
599 632
278 195
515 96
casino
411 12757
620 376
484 4577
300 8792
goulburn
350 17107
440 10624
dapto
520 10018
600 1690
297 10279
729 53
healesville
300 31770
350 29422
strathalbyn
319 437
416 211
536 140
the gardens
515 13214
400 29813
600 2267
715 426
272 9157
wagga
400 5902
320 9993
525 2399
760 6
bulli
472 4784
400 10366
515 879
590 380
340 3352
bundaberg
460 13197
550 1748
531 495
315 668
tamworth
457 310
340 2067
402 1339
moree
302 1405
421 440
551 28
taree
314 5566
392 4445
537 1309
gawler
400 32968
531 9003
643 1327
muswellbrook
328 1638
429 574
560 112
336 1792
431 613
571 61
townsville
380 29534
498 7626
643 301
dubbo
318 11582
400 7409
516 2896
605 404
wauchope
384 3524
457 981
temora
330 9125
457 4407
570 368
732 7
broken hill
375 4425
525 911
armidale
365 88
520 13
440 26
young
347 3411
520 250
port augusta
447 276
503 113
591 10
kempsey
350 2081
508 238
coonamble
305 3083
400 984
530 198
405 249
mandurah
405 34870
490 13566
302 18956
647 307
300 1881
400 2640
488 916
652 117
capalaba
366 29911
cowra
327 662
453 310
lithgow
287 1176
506 314
414 1066
mudgee
530 26
311 279
434 96
coonabarabran
315 621
410 233
545 17
potts park
320 2541
440 504
530 70
warrnambool
390 23379
450 15974
650 483
gosford
388 14619
515 6551
603 1277
710 64
murray bridge
395 12110
455 6597
530 1372
300 9800
350 3194
390 6
680 452
gunnedah
340 12143
527 1386
431 4156
richmond straight
324 11927
canberra
530 1
monmore
480 8418
264 1640
630 753
684 35
900 10
210 5
kinsley
462 5036
268 1837
844 6
650 6
nottingham
500 5685
480 431
680 94
305 211
730 43
255 24
oxford
450 5458
847 6
650 239
253 221
addington
295 4354
520 1221
645 120
732 30
doncaster
450 3434
275 1901
483 1279
661 45
enniscorthy
480 2937
526 40
549 42
503 6
320 6
swindon
476 5680
262 715
682 180
896 6
towcester
270 2392
500 3570
712 180
942 11
yarmouth
462 4642
659 181
277 119
youghal
480 4273
503 6
romford
400 8851
575 1126
225 62
750 53
sheffield
500 5949
280 1620
660 268
480 29
915 4
720 9
934 6
perry barr
480 4433
275 1739
660 57
710 61
suffolk downs
388 4536
548 440
220 193
716 10
hove
500 6644
285 1376
695 291
515 307
740 5
tralee
480 4239
297 736
503 128
521 151
457 101
686 22
crayford
380 6641
540 1663
714 227
874 21
central park
480 506
265 594
642 18
450 17
500 5
491 2000
277 1887
664 21
sunderland
450 5923
261 1342
640 137
newcastle
480 7828
640 150
290 57
kilkenny
480 3964
663 35
harlow
238 4566
415 4465
592 74
lifford
480 1593
297 1519
503 111
526 72
750 6
newbridge
503 214
480 1637
297 303
526 76
shelbourne park
526 355
480 3550
503 885
549 103
320 151
686 226
777 6
937 17
galway
480 2392
320 786
503 164
526 34
741 10
297 121
hatrick
520 707
305 1239
755 30
limerick
480 3671
320 109
526 98
503 440
686 119
549 171
mullingar
480 3761
366 163
320 85
549 12
503 17
waterford
480 3987
297 59
526 40
668 91
503 110
thurles park
480 1657
302 71
521 166
curraheen park
503 274
480 3093
686 145
302 494
526 118
dundalk
480 1627
366 1435
503 106
526 59
567 27
613 4
549 36
drumbo park
480 842
306 873
526 32
503 43
764 4
clonmel
480 2244
503 200
274 517
686 6
manukau
318 2006
527 665
779 23
henlow
460 1917
550 196
692 18
277 79
manawatu
660 226
410 84
375 1046
457 594
pelaw grange
435 1537
ascot park
390 1052
457 403
cambridge
375 637
457 324
650 49
747 8
the valley
460 407
260 268
645 45

{'bendigo': [500, 425],
 'sandown park': [515, 595],
 'sale': [440],
 'albion park': [331, 395, 520],
 'mount gambier': [512, 400],
 'angle park': [388, 515, 342, 530],
 'shepparton': [390, 450, 385],
 'traralgon': [395],
 'ballarat': [450, 390],
 'bathurst': [307],
 'nowra': [365],
 'launceston': [515, 278],
 'grafton': [350],
 'northam': [],
 'warragul': [460, 400],
 'horsham': [410, 485],
 'geelong': [460, 400],
 'lismore': [],
 'cannington': [380, 520, 275],
 'maitland': [400],
 'devonport': [452],
 'cairns': [],
 'ipswich': [431, 520, 288],
 'cranbourne': [520, 311],
 'the meadows': [525, 600],
 'darwin': [312, 383],
 'richmond': [400, 330, 401, 320],
 'wentworth park': [520],
 'rockhampton': [407],
 'hobart': [340, 461],
 'casino': [411, 300],
 'goulburn': [350, 440],
 'dapto': [520, 297],
 'healesville': [300, 350],
 'strathalbyn': [],
 'the gardens': [515, 400, 272],
 'wagga': [320],
 'bulli': [400],
 'bundaberg': [460],
 'tamworth': [],
 'moree': [],
 'taree': [],
 'gawler': [400, 531],
 'muswellbrook': [],
 'townsville': [380, 498],
 'dubbo': [318, 400],
 'wauchope': [],
 'temora': [330],
 'broken hill': [],
 'armidale': [],
 'young': [],
 'port augusta': [],
 'kempsey': [],
 'coonamble': [],
 'mandurah': [405, 490, 302],
 'capalaba': [366],
 'cowra': [],
 'lithgow': [],
 'mudgee': [],
 'coonabarabran': [],
 'potts park': [],
 'warrnambool': [390, 450],
 'gosford': [388],
 'murray bridge': [395, 300],
 'gunnedah': [340],
 'richmond straight': [324],
 'canberra': [],
 'monmore': [480],
 'kinsley': [],
 'nottingham': [],
 'oxford': [],
 'addington': [],
 'doncaster': [],
 'enniscorthy': [],
 'swindon': [],
 'towcester': [],
 'yarmouth': [],
 'youghal': [],
 'romford': [400],
 'sheffield': [],
 'perry barr': [],
 'suffolk downs': [],
 'hove': [],
 'tralee': [],
 'crayford': [],
 'central park': [],
 'sunderland': [],
 'newcastle': [480],
 'kilkenny': [],
 'harlow': [],
 'lifford': [],
 'newbridge': [],
 'shelbourne park': [],
 'galway': [],
 'hatrick': [],
 'limerick': [],
 'mullingar': [],
 'waterford': [],
 'thurles park': [],
 'curraheen park': [],
 'dundalk': [],
 'drumbo park': [],
 'clonmel': [],
 'manukau': [],
 'henlow': [],
 'manawatu': [],
 'pelaw grange': [],
 'ascot park': [],
 'cambridge': [],
 'the valley': []}

In [6]:
trk='townsville'
cas=races[races['Track']==trk]

if(trk=='mandurah'):
    cas['Distance']=np.where(cas['Distance']==488,490,cas['Distance'])

for p in list(set(cas['RaceId'])):
    a = cas[cas['RaceId']==p]
    if a.shape[0]<7:
        cas=cas[cas['RaceId']!=p]

cas.reset_index(drop=True, inplace=True)
cas['Distance']=cas['Distance'].astype(int)
print(cas['Distance'].unique())

cas

[380 498 643]

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerName
0,1,rhonda's bear,1,27.8,5.0,0,7.82,22.34,338868400,380,Novice Non Penalty,townsville,2018-07-10,R Essery
1,2,dyna fable,3,23.9,9.0,nan,NaN,22.77,338868400,380,Novice Non Penalty,townsville,2018-07-10,R Essery
2,3,rapido,5,27.1,18.0,nan,NaN,22.83,338868400,380,Novice Non Penalty,townsville,2018-07-10,C Pickard
3,4,no thank you,6,25.0,5.5,nan,NaN,22.96,338868400,380,Novice Non Penalty,townsville,2018-07-10,G Olsen
4,5,legs o'reilly,2,32.2,14.0,nan,NaN,22.97,338868400,380,Novice Non Penalty,townsville,2018-07-10,R Thomson
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33956,2,management zero,5,26.4,2.4,nan,NaN,22.49,1007029084,380,6,townsville,2024-03-15,poo poo
33957,1,lara rumble,4,27.7,4.6,nan,NaN,22.20,1007029084,380,5,townsville,2024-03-15,poo poo
33958,7,master elite,3,33.7,7.5,nan,NaN,22.96,1007029084,380,5,townsville,2024-03-15,poo poo
33959,8,oscar esther,2,26.0,15.0,nan,NaN,23.05,1007029084,380,6,townsville,2024-03-15,poo poo
33960,2,showtime piper,2,25.6,3.0,nan,NaN,22.59,1007029081,380,Maiden,townsville,2024-03-15,poo poo

In [7]:
dogs_done = set()
dog_races = {}


for i in range(1,cas.shape[0]+1):
    index = cas.shape[0]-i
    name = cas.iloc[index,1]
    if(name not in dogs_done):
        dog_past_race = races[races['DogName']==name]
        dog_races[name]=dog_past_race
        dogs_done.add(name)
    
    if(i%1000==0):
        print(i)

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000

In [8]:
'''trainers_done = set()
trainer_races = {}


for i in range(1,cas.shape[0]):
    index = cas.shape[0]-i
    name = cas.iloc[index,13]

    if(name not in trainers_done):
        dog_past_race = races[races['TrainerName']==name]
        trainer_races[name]=dog_past_race
        trainers_done.add(name)
    
    if(i%1000==0):
        print(i)'''

"trainers_done = set()\ntrainer_races = {}\n\n\nfor i in range(1,cas.shape[0]):\n    index = cas.shape[0]-i\n    name = cas.iloc[index,13]\n\n    if(name not in trainers_done):\n        dog_past_race = races[races['TrainerName']==name]\n        trainer_races[name]=dog_past_race\n        trainers_done.add(name)\n    \n    if(i%1000==0):\n        print(i)"

In [9]:
'''unique_track_dist={}
tracks = races['Track'].unique()
for i in range(tracks.size):
    dic={}
    track=tracks[i]
    df=races[races['Track']==track]
    dists = df['Distance'].unique()
    for i in dists:
        df2=df[df['Distance']==i]
        ls=[df2['Split'].mean(),df2['Split'].std(),df2['RunTime'].mean(),df2['RunTime'].std()]
        dic[str(i)]=ls
    unique_track_dist[track]=dic

with open('parameters.json', 'w') as json_file:
    json.dump(unique_track_dist, json_file)'''
    
with open('parameters.json','r') as json_file:
    unique_track_dist = json.load(json_file)

In [10]:
unique_races = {}
unique_ids = cas['RaceId'].unique()

for i in range(unique_ids.size): 
    race = cas[cas['RaceId']==unique_ids[i]]
    race = race.sort_values(by='Box')
    race.reset_index(drop=True, inplace=True)
    race['psplit']=None
    for j in range(race.shape[0]):
        name = race.iloc[j,1]
        past = dog_races[name]  
        
        date = race['date'][0]
        past = past[past['date']<date]
        past = past.sort_values(by='date')   
        
        past = past[past['Track']==trk]
        pred_split=0

        past.reset_index(drop=True, inplace=True)
        for k in range(past.shape[0]):
            if(pd.isna(past.iloc[k,6])==False):
                params = unique_track_dist[trk][str(past.iloc[k,9])]
                pred_split+=((past.iloc[k,6]-params[0])/params[1])
        if past.shape[0]!=0:
            pred_split/=past.shape[0]
        race.iloc[j,14]=pred_split
            
            
    unique_races[unique_ids[i]]=race
    
    if(i%1000==0):
        print(i)

0
1000
2000
3000
4000

In [11]:
def pir_function(pirs,places):
    start=0
    mid=0
    fin=0
    for i in range(len(pirs)):
        pir = pirs[i]

        if(pd.isna(pir) or pir in ['nan','0','0.0',0] ):
            start+=4.5
            mid+=4.5
            fin+=4.5
        else: 
            try:
                if('.' in pir):
                    pir = str(int(float(pir)))


                if(len(pir)==1):
                    start+=int(pir)-places[i]
                    mid+=int(pir)-places[i]
                    fin+=int(pir)-places[i]
                elif(len(pir)==2):
                    start+=int(pir[0])-places[i]
                    mid+=int(pir[1])-places[i]
                    fin+=int(pir[1])-places[i]
                elif(len(pir)==3):
                    start+=int(pir[0])-places[i]
                    mid+=int(pir[1])-places[i]
                    fin+=int(pir[2])-places[i]
                elif(len(pir)==4):
                    start+=int(pir[0])-places[i]
                    mid+=(int(pir[1])+int(pir[2]))/2-places[i]
                    fin+=int(pir[3])-places[i]
                elif(len(pir)==5):
                    start+=(int(pir[0])+int(pir[1]))/2-places[i]
                    mid+=int(pir[2])-places[i]
                    fin+=(int(pir[3])+int(pir[4]))/2-places[i]
                elif(len(pir)==6):
                    start+=(int(pir[0])+int(pir[1]))/2-places[i]
                    mid+=(int(pir[2])+int(pir[3]))/2-places[i]
                    fin+=(int(pir[5])+int(pir[4]))/2-places[i]
                else:
                    start+=4.5-places[i]
                    mid+=4.5-places[i]
                    fin+=4.5-places[i]
            except:
                start+=4.5-places[i]
                mid+=4.5-places[i]
                fin+=4.5-places[i]


    start/=len(pirs)
    mid/=len(pirs)
    fin/=len(pirs)
    return([start,mid,fin])

In [12]:
duds = []
final_result=[]
df=''
last_5=''
last_2=''
trainer=''
race=''

for i in range(0,cas.shape[0]):
# for i in range(30500,31000):
    row = cas.iloc[i,]

    name = row['DogName']
    trainer = row['TrainerName']
    date = row['date']

    df = dog_races[name]
    df = df[df['date']<date]
    df=df.sort_values(by='date')

    '''trainer = trainer_races[row['TrainerName']]
#     trainer = trainer[trainer['Track']==trk]
    trainer = trainer[trainer['date']<date]'''

    if(df.shape[0]<5):
        duds.append(row['RaceId'])
    else:
        #last races

        time_z_avg = 0
        split_z_avg = 0

        for j in range(df.shape[0]):
            row2 = df.iloc[j,]
#           
            params = unique_track_dist[row2['Track']][str(row2['Distance'])]

            if(pd.isna(row2['Split'])==False):
                split_z_avg+=((row2['Split']-params[0])/params[1])
            if(pd.isna(row2['RunTime'])==False):
                time_z_avg+=((row2['RunTime']-params[2])/params[3])

        time_z_avg/=df.shape[0]
        split_z_avg/=df.shape[0]

        last_5_times=[]

        last_5 =df.tail(5)
        for j in range(5):
            row2 = last_5.iloc[j,]
#           
            params = unique_track_dist[row2['Track']][str(row2['Distance'])]

            if(pd.isna(row2['RunTime'])==False):
                last_5_times.append((row2['RunTime']-params[2])/params[3])

        last_5_times_avg=sum(last_5_times)/5
        in_form=0
        if(last_5_times_avg<time_z_avg):
            in_form=1

        track_params = unique_track_dist[row['Track']][str(row['Distance'])]

        pred_split = split_z_avg * track_params[1]+track_params[0]



        at_cas=df[df['Track']==trk]

        at_cas_perc= sum(df['Track']==trk)/df.shape[0]

        ctime_z_avg = 0
        csplit_z_avg=0


        for j in range(at_cas.shape[0]):
            row2 = at_cas.iloc[j,]

            params = unique_track_dist[row2['Track']][str(row2['Distance'])]

            if(pd.isna(row2['Split'])==False):
                csplit_z_avg+=((row2['Split']-params[0])/params[1])

            if(pd.isna(row2['RunTime'])==False):
                ctime_z_avg+=((row2['RunTime']-params[2])/params[3])
        if(at_cas.shape[0]!=0):
            ctime_z_avg/=at_cas.shape[0]
            csplit_z_avg/=at_cas.shape[0]

        pred_split2 = csplit_z_avg * track_params[1]+track_params[0]

        at_cas_dist=at_cas[at_cas['Distance']==row['Distance']]
        
        at_cas_dist_time=0
        at_cas_dist_time_avg=0
        in_form2=0

        if(at_cas_dist.shape[0]>0):
            final_row = at_cas_dist.iloc[-1,]
            at_cas_dist_time=(final_row['RunTime']-track_params[2])/track_params[3]
            at_cas_dist_time_avg=(at_cas_dist['RunTime'].mean()-track_params[2])/track_params[3]
            if(at_cas_dist_time<at_cas_dist_time_avg):
                in_form2=1








        '''if(trainer.shape[0]==0):
            mean_trainer_place=4.5
        else:
            mean_trainer_place=trainer['Place'].mean()

        trainer = trainer.tail(5)
        trainer_last_5_time_z = 0


        for j in range(trainer.shape[0]):
            row2 = trainer.iloc[j,]
            params = unique_track_dist[row2['Track']][row2['Distance']]

            if(pd.isna(row2['RunTime'])==False):
                trainer_last_5_time_z+=((row2['RunTime']-params[2])/params[3])
        if(trainer.shape[0]!=0):
            trainer_last_5_time_z/=trainer.shape[0]'''

        #faster dog inside       
        race = unique_races[row['RaceId']]

        #lane prefs setup
        #split win setup

        lane_prefs={}
        split_win=1000
        for dog in list(race['DogName']):
            races1=dog_races[dog]

            date = race['date'][0]
            races1 = races1[races1['date']<date]
            races1 = races1.sort_values(by='date') 

            line = race[race['DogName']==dog]
            
            try:
                if float(line['Split']) < split_win:
                    split_win = float(line['Split'])
            except:
                split_win=69

            mean_place=races1['Place'].mean()

            ins_mean = races1[races1['Box'].isin([1,2,3])]['Place'].mean() - mean_place
            mid_mean = races1[races1['Box'].isin([4,5,6])]['Place'].mean() - mean_place
            out_mean = races1[races1['Box'].isin([7,8])]['Place'].mean() - mean_place

            means=[ins_mean,mid_mean,out_mean]
            means = [0 if pd.isna(mean) else mean for mean in means]
            lowest=np.argmin(means)
            lane_prefs[dog]=means+[lowest]

        #split win
        split_win_result = 0
        if split_win == row['Split']:
            split_win_result = 1


        #lane preferences
        params = lane_prefs[name]

        means=params[0:3]
        best_lane=params[3]

        boxes=[[1,2,3],[4,5],[6,7,8]]
        lowest = best_lane
        box = row['Box']

        if(box<4):
            box2=0
        elif(box<6):
            box2=1
        else:
            box2=2

        mean_in_pos=means[box2]



        index= race.loc[race['Box'] == box].index[0]
        faster_inside=0
        psplit=race.iloc[index,14]


        if(pd.isna(psplit)==False):        
            for j in range(index):
                if(race.iloc[j,14]<psplit):
                    faster_inside=1
                    break

        #next to fast dog
        next_to_faster=0
        collision=0
        try:
            if(box==1):
                if(race.iloc[1,14]<psplit):
                    next_to_faster=1

            elif(box==max(race['Box'])):
                if(race.iloc[race.shape[0]-2,14]<psplit):
                    next_to_faster=1

            else:
                if(race.iloc[index-1,14]<psplit or race.iloc[index+1,14]<psplit):
                    next_to_faster=1


            #split win

            #collision

            if(box==1):
                if(lane_prefs[race.iloc[1,1]][3]<best_lane):
                    collision=1

            elif(box==max(race['Box'])):
                if(lane_prefs[race.iloc[race.shape[0]-2,1]][3]>best_lane):
                    collision=1


            else:
                if(lane_prefs[race.iloc[index-1,1]][3]>best_lane or lane_prefs[race.iloc[index+1,1]][3]<best_lane):
                    collision=1
        except:
            pass

        #first_out
        first_out=sum(race['psplit']<psplit)
        if(first_out>0):
            first_out=0
        elif(first_out==0):
            first_out=1

        #PIR
        pirs = list(df['PIR'])
        pir_res = pir_function(pirs,list(df['Place']))

        #mean place
        mean_place = df['Place'].mean()



        placing_box_res=[mean_place,mean_in_pos]
        last_5_res=[time_z_avg, split_z_avg,pred_split] + last_5_times + [last_5_times_avg,in_form]
        last_2_res=[ctime_z_avg,csplit_z_avg,pred_split2,at_cas_dist_time,at_cas_dist_time_avg,at_cas_perc,in_form2]
        #trainer_res=[mean_trainer_place,trainer_last_5_time_z]
        random=[faster_inside, next_to_faster,collision,first_out]


        cols=['RunTime','Split','Place','date','RaceId','Distance','Box','Weight','StartPrice']
        row3=list(row[cols])+placing_box_res+last_5_res+last_2_res
        row3+=random+pir_res
        final_result.append(row3)

    if(i%500==0):
        print(i)

0
500
1000
1500
2000
2500
3000
3500
4000
4500
5000
5500
6000
6500
7000
7500
8000
8500
9000
9500
10000
10500
11000
11500
12000
12500
13000
13500
14000
14500
15000
15500
16000
16500
17000
17500
18000
18500
19000
19500
20000
20500
21000
21500
22000
22500
23000
23500
24000
24500
25000
25500
26000
26500
27000
27500
28000
28500
29000
29500
30000
30500
31000
31500
32000
32500
33000
33500

In [13]:
colnames = ['RunTime','Split','Place','Date','RaceId','Distance','Box','Weight','StartPrice']
colnames+=['mean_place','mean_in_race_pos']
colnames+=['time_z_avg','split_z_avg','pred_split1']
colnames+=['t1','t2','t3','t4','t5','last_5_avg','in_form']
colnames+=['ctime_z_avg','csplit_z_avg','pred_split2','at_cas_dist_time','at_cas_dist_time_avg','at_cas_perc','in_form2']
#colnames+=['t_mean_place','t_5_time_z']
colnames+=['faster_inside','next_to_faster','collision','first_out','pir1','pir2','pir3']
           
df_final = pd.DataFrame(final_result,columns=colnames)
df_final['Win']=np.where(df_final['Place']==1,1,0)
for i in range(1,9):
    name = 'b'+str(i)
    df_final[name]=np.where(df_final['Box']==i,1,0)
    
df_final = df_final.drop(columns=['Box'])

In [14]:
i1 = []
i2 = []
for x in df_final.index:
    if df_final.loc[x,'b1'] == 1 or df_final.loc[x,'b2'] == 1 or df_final.loc[x,'b3'] == 1:
        i1.append(1)
        i2.append(0)
    elif df_final.loc[x,'b4'] == 1 or df_final.loc[x,'b5'] or df_final.loc[x,'b6']== 1:
        i1.append(0)
        i2.append(1)
    else:
        i1.append(0)
        i2.append(0)
df_final['i1'] = i1
df_final['i2'] = i2

In [15]:
df_final.to_csv('class2/'+trk+'.csv')
duds = set(duds)
duds = list(duds)
dc = {'Invalid':duds}
dff = pd.DataFrame(dc)

#If you change this to few_dogs you need to take out underscore, change class and change number up top
dff.to_csv('Invalid/Invalid_'+trk+'.csv')
df_final

,RunTime,Split,Place,Date,RaceId,Distance,Weight,StartPrice,mean_place,mean_in_race_pos,...,b1,b2,b3,b4,b5,b6,b7,b8,i1,i2
0,22.25,NaN,4,2018-07-24,343293740,380,28.6,2.1,1.600000,-0.600000,...,1,0,0,0,0,0,0,0,1,0
1,22.33,NaN,2,2018-07-31,344128057,380,27.4,7.0,4.000000,1.500000,...,0,0,0,0,0,0,0,1,0,0
2,29.50,NaN,5,2018-07-31,344128060,498,28.8,17.0,2.000000,0.000000,...,0,0,0,0,0,1,0,0,0,1
3,22.88,NaN,6,2018-07-31,344128065,380,29.0,17.0,5.000000,0.000000,...,0,0,0,0,0,0,0,1,0,0
4,22.24,7.72,1,2018-08-07,346071981,380,25.8,9.5,3.600000,-1.600000,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30293,22.64,NaN,4,2024-03-15,1007029084,380,28.9,14.0,4.428571,0.771429,...,0,0,0,0,0,1,0,0,0,1
30294,22.49,NaN,2,2024-03-15,1007029084,380,26.4,2.4,4.600000,-0.600000,...,0,0,0,0,1,0,0,0,0,1
30295,22.20,NaN,1,2024-03-15,1007029084,380,27.7,4.6,3.590909,1.209091,...,0,0,0,1,0,0,0,0,0,1
30296,22.96,NaN,7,2024-03-15,1007029084,380,33.7,7.5,4.319149,0.417693,...,0,0,1,0,0,0,0,0,1,0
30297,23.05,NaN,8,2024-03-15,1007029084,380,26.0,15.0,4.785714,-0.119048,...,0,1,0,0,0,0,0,0,1,0

In [16]:
dc

{'Invalid': [827791364,
  623861768,
  623861771,
  875175949,
  647725070,
  875175951,
  875175953,
  740349970,
  877658072,
  55317,
  456456214,
  55318,
  707237912,
  707237913,
  456456218,
  55320,
  740349980,
  707237917,
  55319,
  55322,
  525625398,
  846606393,
  846606394,
  779243582,
  779243583,
  779243584,
  846606403,
  837230148,
  775475272,
  775475273,
  779243593,
  640882782,
  640882783,
  426786913,
  426786914,
  426786915,
  837230154,
  650115175,
  57461,
  57462,
  57463,
  822917243,
  41086,
  557054079,
  41087,
  65662,
  65664,
  65665,
  557054085,
  822917254,
  702388362,
  702388363,
  702388364,
  702388366,
  566382737,
  61591,
  61592,
  827699353,
  377301147,
  580851872,
  377301155,
  580851875,
  382656680,
  382656682,
  827791356,
  338868400,
  338868402,
  338868404,
  338868405,
  491086006,
  491086007,
  338868406,
  479135926,
  338868408,
  338868410,
  479135927,
  338868412,
  479135929,
  338868414,
  338868415,
  354515136,
  338868417,
  354515138,
  354515139,
  354515140,
  354515142,
  354515143,
  354515144,
  354515145,
  354515146,
  354515147,
  535478470,
  535478471,
  731965638,
  875176134,
  875176136,
  10451,
  10452,
  10453,
  10455,
  770857179,
  770857181,
  875176157,
  888959213,
  738072814,
  738072815,
  888959214,
  888959215,
  640882931,
  550361332,
  550361333,
  550361334,
  740378871,
  740378872,
  740378882,
  426787085,
  426787087,
  14610,
  14611,
  14612,
  14613,
  59674,
  59675,
  59676,
  623968543,
  623968544,
  59684,
  745290027,
  745290028,
  634972462,
  745290037,
  674476347,
  674476348,
  674476349,
  865622336,
  865622337,
  420178247,
  420178248,
  420178249,
  617984330,
  420178251,
  992485703,
  992485705,
  992485704,
  24915,
  723558740,
  723558742,
  472226138,
  472226139,
  472226140,
  24926,
  482214240,
  482214241,
  572688736,
  572688739,
  698513761,
  698513762,
  26991,
  26992,
  740378993,
  26993,
  888959352,
  70009,
  740379002,
  27002,
  467652988,
  557035901,
  557035902,
  557035903,
  629797245,
  667685249,
  467652994,
  667685250,
  667685251,
  695953789,
  695953791,
  702388615,
  702388618,
  558489998,
  356884879,
  356884880,
  356884881,
  356884882,
  356884884,
  356884885,
  356884886,
  356884887,
  356884888,
  469819799,
  469819800,
  469819801,
  479113623,
  479113624,
  479113626,
  665489823,
  726084000,
  620509601,
  620509602,
  620509603,
  665489825,
  726084002,
  1002314147,
  656279975,
  656279976,
  1002314148,
  1002314149,
  1002314150,
  1002314151,
  6573,
  6574,
  461099577,
  663022099,
  6575,
  50561,
  1002314157,
  832941887,
  6583,
  50562,
  865622458,
  832941888,
  865622459,
  865622460,
  50563,
  443537857,
  443537858,
  723558852,
  723558853,
  370420166,
  370420167,
  61963,
  370420169,
  370420170,
  443537868,
  383635917,
  601852365,
  370420175,
  601852366,
  718754255,
  718754257,
  723558862,
  779246032,
  779246033,
  530405846,
  364100058,
  364100059,
  702388699,
  364100061,
  702388701,
  702388702,
  705745371,
  705745372,
  364100066,
  445008355,
  705745380,
  445008357,
  18912,
  18913,
  18914,
  61971,
  629797361,
  629797362,
  667685377,
  710535681,
  638810627,
  638810628,
  710535682,
  716321283,
  451756551,
  451756552,
  667685385,
  710535687,
  716321285,
  61962,
  359676429,
  359676430,
  359676431,
  451756559,
  359676433,
  359676434,
  414990865,
  359676436,
  414990866,
  414990867,
  359676439,
  451756561,
  540566040,
  540566041,
  540566042,
  656366106,
  663022100,
  781969946,
  781969947,
  781969948,
  45600,
  781969954,
  45602,
  45604,
  45601,
  701045292,
  701045293,
  680757808,
  680757809,
  680757810,
  461099571,
  461099572,
  461099573,
  424712758,
  344128055,
  424712759,
  344128057,
  344128058,
  344128059,
  344128060,
  344128061,
  344128062,
  344128063,
  344128064,
  344128065,
  514075198,
  514075199,
  514075200,
  525253184,
  525253188,
  570159680,
  570159683,
  523375177,
  35401,
  35402,
  35404,
  660802126,
  889068111,
  660802128,
  889068112,
  599403094,
  656280155,
  656280156,
  472226399,
  472226400,
  472226401,
  597578337,
  597578338,
  597578339,
  472226405,
  634972774,
  824846945,
  718754408,
  472226409,
  718754409,
  824846946,
  824846947,
  601852525,
  718754413,
  732291697,
  732291698,
  732291700,
  760322679,
  718754425,
  811856506,
  561764987,
  561764989,
  23168,
  718723263,
  811856515,
  23171,
  57987,
  572605062,
  718723264,
  752001672,
  57989,
  23178,
  57988,
  57990,
  51853,
  51854,
  51855,
  756122258,
  756122262,
  889068184,
  889068185,
  889068187,
  629797534,
  877730472,
  877730474,
  877730478,
  718826160,
  718826161,
  388545202,
  504087219,
  504087220,
  842799794,
  504087222,
  874633824,
  877730484,
  570159801,
  570159802,
  705776313,
  504087228,
  705776314,
  601852606,
  561765055,
  601852607,
  561765057,
  538948290,
  488927939,
  488927940,
  488927941,
  538948291,
  538948292,
  714824385,
  714824386,
  496202442,
  496202443,
  496202444,
  694815435,
  694815436,
  496202450,
  56018,
  56019,
  534934234,
  824845020,
  824845021,
  597578463,
  707343072,
  707343073,
  781970144,
  767990499,
  597578468,
  781970145,
  824845023,
  824845028,
  592675560,
  42888,
  440959725,
  440959726,
  440959727,
  865598201,
  865598204,
  785769214,
  785769215,
  52664,
  785769223,
  785769224,
  52665,
  70412,
  70413,
  70414,
  399450895,
  399450896,
  66322,
  66323,
  66324,
  52667,
  70421,
  70422,
  64280,
  64281,
  771199770,
  64283,
  64282,
  350149405,
  350149406,
  350149407,
  350149408,
  350149409,
  350149410,
  350149411,
  350149412,
  350149413,
  350149414,
  350149415,
  350149416,
  501818153,
  637866789,
  501818155,
  561765165,
  561765166,
  998764324,
  430809904,
  771199794,
  998764325,
  430809909,
  430809910,
  561765174,
  663024450,
  663024451,
  416009029,
  416009031,
  416009033,
  416009041,
  716432216,
  716432217,
  1007029080,
  1007029081,
  1007029083,
  1007029082,
  13151,
  13152,
  13153,
  1007029088,
  877730660,
  811856744,
  811787114,
  811787115,
  811787116,
  13162,
  877730671,
  998755184,
  378649457,
  378649458,
  998755185,
  769428340,
  769428341,
  998755188,
  378649463,
  998755183,
  378649465,
  760458108,
  769428348,
  435594113,
  760458119,
  572605326,
  572605327,
  596355984,
  572605330,
  596355986,
  792204180,
  792204181,
  792204187,
  626271132,
  626271133,
  729385886,
  49030,
  592673697,
  592673698,
  729385890,
  48033,
  48034,
  48036,
  996299683,
  996299684,
  48043,
  346071980,
  346071981,
  346071982,
  346071983,
  346071984,
  346071985,
  346071986,
  346071987,
  346071988,
  528980914,
  346071990,
  346071991,
  528980917,
  528980921,
  760357826,
  41923,
  41924,
  41922,
  707343303,
  1004648348,
  41933,
  716432338,
  614163411,
  614163412,
  716432340,
  877723438,
  877658309,
  368866274,
  874691555,
  815100900,
  785769445,
  785769446,
  368866279,
  785769447,
  815100903,
  874691556,
  760458219,
  599542764,
  599542765,
  877723439,
  410702836,
  410702837,
  410702839,
  410702840,
  555162621,
  410702846,
  555162622,
  995845775,
  592673796,
  677645317,
  995845776,
  677645319,
  519461896,
  519461897,
  519461898,
  592673802,
  677645322,
  44040,
  44042,
  44039,
  54282,
  790180881,
  54283,
  790180883,
  54285,
  824820759,
  824820760,
  790180889,
  824820761,
  677645340,
  824820770,
  402887719,
  392625194,
  402887722,
  771199774,
  350147644,
  350147645,
  350147646,
  350147647,
  350147650,
  634917955,
  350147652,
  350147653,
  350147654,
  350147655,
  996299846,
  996299845,
  996299844,
  882009163,
  996299847,
  996299854,
  734653519,
  734653520,
  734653521,
  882009174,
  785769563,
  792134748,
  792134749,
  438520926,
  792134750,
  792134751,
  416009314,
  416009315,
  785769572,
  792134759,
  559494255,
  850664567,
  559494264,
  850664569,
  710515488,
  47039,
  710515489,
  850664575,
  882009220,
  465425541,
  465425542,
  882009221,
  465425544,
  807519369,
  807519370,
  882009223,
  465425549,
  587850912,
  837975200,
  837975201,
  837975202,
  17794,
  64960,
  702388628,
  21051,
  64961,
  680664247,
  568775864,
  568775865,
  680664249,
  860650681,
  606717116,
  64697,
  64698,
  568775874,
  1003117766,
  33993,
  33994,
  832941637,
  33998,
  695932111,
  695932112,
  695932114,
  832941639,
  785800409,
  886871261,
  850664670,
  886871262,
  886871266,
  832941642,
  485919979,
  485919980,
  832941644,
  882009335,
  547652860,
  547652861,
  547652862,
  846623999,
  996299693,
  547652866,
  782155011,
  782155012,
  782155013,
  882009346,
  25859,
  25860,
  606717194,
  606717195,
  643554578,
  765398293,
  451755291,
  790187293,
  451755294,
  790187294,
  451755296,
  757959969,
  790187295,
  790187296,
  841164061,
  841164062,
  617622822,
  451755303,
  617622823,
  757959979,
  498695468,
  498695470,
  860650798,
  654282032,
  432606519,
  432606520,
  578848060,
  432606525,
  578848061,
  70976,
  504089921,
  70977,
  504089923,
  70978,
  70979,
  70980,
  504089927,
  824846948,
  504089929,
  868957514,
  868957515,
  868957516,
  70981,
  745616719,
  745616720,
  792243542,
  792243543,
  745616730,
  792243551,
  60771,
  60772,
  804048234,
  60781,
  40302,
  40303,
  40304,
  36210,
  36211,
  752129398,
  9590,
  9591,
  9592,
  734778746,
  672138619,
  765398394,
  765398395,
  822949671,
  36221,
  17792,
  17793,
  672138626,
  675335555,
  675335556,
  617622917,
  561769862,
  561769863,
  617622918,
  822949672,
  21041,
  21040,
  822949674,
  5510,
  5509,
  771810704,
  7569,
  7570,
  771810707,
  15764,
  15765,
  15766,
  15767,
  7571,
  458628505,
  458628506,
  458628507,
  842792348,
  842792349,
  7573,
  605957538,
  605957539,
  19879,
  846624175,
  846624176,
  750374327,
  750374328,
  796151223,
  796151224,
  750374331,
  846624185,
  892812732,
  693385012,
  476745151,
  476745152,
  476745153,
  857130432,
  476745155,
  892812733,
  892812734,
  52669,
  64963,
  675362248,
  64969,
  857130442,
  64962,
  69072,
  69073,
  665337300,
  609406423,
  69083,
  804074972,
  665337309,
  804074973,
  804074974,
  54755,
  54756,
  54757,
  62986,
  62987,
  509335018,
  54762,
  509335020,
  54766,
  751957489,
  751957490,
  751957491,
  540593652,
  540593653,
  62990,
  854027770,
  13819,
  670592508,
  670592509,
  13820,
  670592511,
  13821,
  13822,
  461094404,
  461094405,
  461094406,
  13828,
  734778890,
  734778891,
  643552780,
  643552781,
  461094414,
  370449934,
  370449936,
  576081423,
  734778897,
  846624275,
  370449940,
  34321,
  34325,
  846624279,
  62991,
  370449945,
  520050204,
  520050205,
  370449950,
  520050206,
  34332,
  520050209,
  842792481,
  842792482,
  792243749,
  792243751,
  884739624,
  24105,
  24106,
  24107,
  792243771,
  550729284,
  550729285,
  550729286,
  530388551,
  525381192,
  765509189,
  765509190,
  829290055,
  829290056,
  829290057,
  546205262,
  829290060,
  829290064,
  546205265,
  638930514,
  546205267,
  710604372,
  611245653,
  546205270,
  710604373,
  58960,
  757788249,
  50778,
  50780,
  710604382,
  546205282,
  877658299,
  50789,
  434714216,
  434714217,
  434714220,
  832472684,
  832472691,
  56957,
  56958,
  56959,
  56960,
  56961,
  765398658,
  870434434,
  765398660,
  1005475460,
  56968,
  815074957,
  995845774,
  815074959,
  622458512,
  622458513,
  28306,
  28307,
  28305,
  517801621,
  517801622,
  517801623,
  587839126,
  540593817,
  540593818,
  517801627,
  540593819,
  28309,
  632788638,
  28315,
  894754464,
  632788641,
  576079522,
  894754465,
  580853412,
  580853413,
  863837862,
  580853415,
  863837863,
  632815281,
  756242099,
  516073140,
  516073141,
  632815284,
  756242100,
  516073145,
  58959,
  829183679,
  829183680,
  829183681,
  46783,
  46784,
  870434503,
  870434504,
  829183689,
  58961,
  626218700,
  775474892,
  775474893,
  857138892,
  994164435,
  815075029,
  815075030,
  22329,
  650237656,
  650237657,
  22330,
  ...]}

In [17]:
# if(trk=='mandurah'):
#     df_final['Distance']=np.where(df_final['Distance']==405,400,df_final['Distance'])
    
# df_final.to_csv('class/'+trk+'.csv')

In [18]:
# pd.read_csv('class/mandurah.csv')['Distance'].unique()