In [9]:
# import requests
# my_username1 = 'mh26'
# my_username2='fast-prestos-0m@icloud.com'

# my_password = 'fegvy3-pucQep-fufnip'

# key_delay = 'EPajWDWSD7QhiCRy'
# key_live = 'P6dhbHj3OPRlhtOR'

# ssoid='mLeai0/2fRT2fDYc8053T4jbhwTOZBVTTuBNR1qmkaw='

# link = 'https://promo.betfair.com/betfairsp/prices'

In [16]:
# headers = {'ssoid':ssoid, 'content-type': 'application/json'}
# data = {
#     "sport":"Greyhound Racing",
#     "plan":"Basic Plan",
#     "fromDay" : 1,
#     "fromMonth": 3,
#     "fromYear" : 2017,
#     "toDay": 1,
#     "toMonth" : 1,
#     "toYear": 2024,
#     "eventId": None,
#     "eventName": None,
#     "marketTypesCollection": [],
#     "countriesCollection" : [],
#     "fileTypeCollection" : []
# }

# req = requests.get('https://historicdata.betfair.com/api/GetCollectionOptions',headers=headers,data=data)

In [3]:
import pandas as pd
import time
from datetime import datetime, timedelta

def generate_date_range(start_date, end_date):
    start_date = start_date
    end_date = end_date

    date_list = []
    current_date = start_date
    while current_date <= end_date:
        date_list.append(current_date.strftime("%d%m%Y"))
        current_date += timedelta(days=1)

    return date_list




start_date = (datetime.today() - timedelta(days=365))
end_date = (datetime.today() - timedelta(days=1))

# Generate the date range
date_range = generate_date_range(start_date, end_date)

ts=[]
for date in date_range:
    
    link = 'https://promo.betfair.com/betfairsp/prices/dwbfgreyhoundwin'+date+'.csv'
    t1 = time.time()
    try:
        df1 = pd.read_csv(link)
    except Exception as e:
        print(e)
    
    if(date==date_range[0]):
        df = df1.copy()
    else:
        df = pd.concat([df,df1])
    
    t2 = time.time()
    
    t=round(t2-t1,3)
    print('time taken: ',t)
    ts.append(t)
print('avg:',round(sum(ts)/len(ts),3))
    

df

time taken:  0.588
time taken:  0.509
time taken:  0.51
time taken:  0.806
time taken:  2.188
time taken:  1.022
time taken:  0.463
time taken:  0.852
time taken:  0.955
time taken:  0.915
time taken:  1.409
time taken:  0.569
time taken:  1.028
time taken:  0.594
time taken:  0.754
time taken:  2.188
time taken:  0.9
time taken:  0.884
time taken:  0.973
time taken:  1.329
time taken:  0.643
time taken:  1.983
time taken:  0.461
time taken:  1.036
time taken:  0.867
time taken:  2.045
time taken:  0.605
time taken:  0.607
time taken:  0.498
time taken:  0.523
time taken:  0.569
time taken:  1.339
time taken:  0.68
time taken:  1.06
time taken:  0.822
time taken:  0.87
time taken:  1.158
time taken:  0.577
time taken:  1.158
time taken:  0.808
time taken:  0.638
time taken:  0.96
time taken:  0.834
time taken:  2.112
time taken:  0.487
time taken:  1.295
time taken:  0.645
time taken:  0.622
time taken:  1.602
time taken:  0.573
time taken:  0.518
time taken:  0.673
time taken:  1.41
time taken:  0.553
time taken:  2.099
time taken:  1.471
Error tokenizing data. C error: Expected 17 fields in line 166, saw 18

time taken:  0.752
time taken:  1.258
time taken:  0.584
time taken:  0.607
time taken:  1.001
time taken:  1.137
time taken:  1.115
time taken:  0.846
time taken:  2.243
time taken:  0.718
time taken:  1.222
time taken:  1.147
time taken:  0.616
time taken:  0.65
time taken:  0.651
time taken:  0.887
time taken:  1.257
time taken:  1.099
time taken:  0.822
time taken:  1.147
time taken:  0.685
time taken:  0.609
time taken:  1.384
time taken:  1.001
time taken:  1.049
time taken:  0.914
time taken:  0.618
time taken:  0.949
time taken:  0.592
time taken:  0.634
time taken:  1.264
time taken:  0.66
time taken:  1.038
time taken:  0.74
time taken:  1.049
time taken:  1.074
time taken:  0.682
time taken:  0.957
time taken:  0.638
time taken:  0.528
time taken:  0.624
time taken:  0.643
time taken:  0.674
time taken:  0.693
time taken:  2.18
time taken:  0.648
time taken:  0.702
time taken:  1.723
time taken:  1.228
time taken:  0.581
time taken:  1.487
time taken:  0.564
time taken:  0.603
time taken:  0.995
time taken:  1.253
time taken:  1.679
time taken:  2.193
time taken:  0.922
time taken:  0.665
time taken:  1.112
time taken:  1.07
time taken:  1.105
time taken:  0.98
time taken:  0.708
time taken:  1.219
time taken:  0.649
time taken:  2.004
time taken:  0.719
time taken:  0.973
time taken:  1.052
time taken:  0.584
time taken:  0.958
time taken:  0.971
time taken:  0.62
time taken:  1.095
time taken:  0.676
time taken:  0.652
time taken:  0.677
time taken:  1.055
time taken:  0.785
time taken:  1.157
time taken:  1.027
time taken:  0.592
time taken:  2.16
time taken:  1.228
time taken:  0.613
time taken:  1.136
time taken:  0.761
time taken:  1.381
time taken:  0.708
time taken:  0.688
time taken:  1.581
time taken:  0.655
time taken:  0.887
time taken:  1.247
time taken:  1.154
time taken:  0.914
time taken:  1.002
time taken:  0.652
time taken:  1.627
time taken:  1.206
time taken:  1.147
time taken:  1.504
time taken:  1.374
time taken:  0.676
time taken:  0.933
time taken:  2.129
time taken:  2.289
time taken:  0.673
time taken:  0.604
time taken:  1.163
time taken:  2.32
time taken:  1.3
time taken:  1.179
time taken:  0.926
time taken:  0.702
time taken:  1.089
time taken:  1.268
time taken:  2.151
Error tokenizing data. C error: Expected 17 fields in line 811, saw 18

time taken:  1.133
time taken:  1.333
time taken:  1.059
time taken:  0.799
time taken:  1.572
time taken:  0.847
time taken:  0.696
time taken:  0.843
time taken:  2.312
time taken:  2.383
time taken:  1.242
time taken:  1.201
time taken:  2.393
time taken:  0.701
time taken:  1.358
time taken:  0.625
time taken:  0.652
time taken:  0.754
time taken:  0.838
time taken:  0.865
time taken:  0.93
time taken:  1.193
time taken:  0.723
time taken:  2.309
time taken:  1.157
time taken:  1.571
time taken:  1.068
time taken:  0.679
time taken:  1.208
time taken:  1.201
time taken:  1.205
time taken:  0.762
time taken:  2.23
time taken:  1.011
time taken:  1.655
time taken:  0.711
time taken:  0.69
time taken:  2.213
time taken:  1.155
time taken:  0.642
time taken:  1.184
time taken:  1.146
time taken:  1.095
time taken:  0.665
time taken:  1.269
time taken:  0.838
time taken:  1.411
time taken:  0.961
time taken:  1.057
time taken:  1.289
time taken:  0.859
time taken:  0.786
time taken:  0.728
time taken:  1.202
time taken:  2.193
time taken:  1.342
time taken:  0.675
time taken:  0.816
time taken:  1.391
time taken:  2.585
time taken:  0.785
time taken:  0.731
time taken:  1.121
time taken:  0.76
time taken:  1.333
time taken:  1.207
time taken:  1.241
time taken:  0.662
time taken:  1.261
time taken:  1.316
time taken:  0.879
time taken:  0.984
time taken:  0.793
time taken:  0.663
time taken:  1.3
time taken:  1.283
time taken:  1.083
time taken:  1.318
time taken:  0.79
time taken:  0.706
time taken:  1.178
time taken:  1.235
time taken:  0.829
time taken:  0.695
time taken:  0.914
time taken:  0.72
time taken:  1.387
time taken:  1.077
time taken:  0.863
time taken:  0.734
time taken:  0.65
time taken:  1.225
time taken:  1.618
time taken:  0.687
time taken:  1.186
time taken:  0.767
time taken:  1.433
time taken:  0.95
time taken:  0.691
time taken:  1.06
time taken:  1.35
time taken:  1.154
time taken:  1.187
time taken:  0.741
time taken:  0.92
time taken:  1.485
time taken:  1.526
time taken:  1.44
time taken:  1.607
time taken:  1.322
time taken:  1.487
time taken:  0.673
time taken:  1.151
time taken:  0.96
time taken:  0.729
time taken:  1.508
time taken:  0.755
time taken:  1.417
time taken:  1.196
time taken:  0.941
time taken:  0.793
time taken:  1.189
time taken:  1.058
time taken:  0.91
time taken:  1.33
time taken:  2.044
time taken:  1.614
time taken:  0.866
time taken:  2.196
time taken:  0.792
time taken:  0.88
time taken:  0.809
time taken:  0.753
time taken:  0.718
time taken:  0.884
time taken:  0.8
time taken:  1.435
time taken:  1.359
time taken:  1.327
time taken:  0.941
time taken:  1.295
time taken:  0.746
time taken:  1.134
time taken:  0.852
time taken:  1.215
time taken:  0.811
time taken:  1.24
time taken:  1.297

/var/folders/r_/xjqlcbb94kl_syy9_t4mxp_00000gn/T/ipykernel_3212/2498262453.py:39: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df1])

time taken:  0.601
time taken:  1.242
time taken:  0.946
time taken:  1.33
time taken:  1.257
time taken:  1.131
time taken:  1.247
time taken:  1.14
time taken:  0.805
time taken:  1.204
time taken:  0.823
time taken:  1.34
time taken:  1.217
time taken:  1.104
time taken:  1.145
time taken:  0.739
time taken:  1.083
time taken:  2.476
time taken:  0.806
time taken:  0.733
time taken:  1.165
time taken:  0.84
time taken:  1.452
time taken:  0.793
time taken:  0.889
time taken:  0.868
time taken:  2.159
time taken:  0.91
time taken:  0.887
time taken:  0.838
time taken:  0.784
time taken:  0.928
time taken:  2.252
time taken:  0.833
time taken:  0.856
time taken:  1.113
time taken:  0.788
time taken:  0.879
time taken:  1.374
time taken:  1.301
time taken:  0.908
time taken:  0.791
avg: 1.066

,EVENT_ID,MENU_HINT,EVENT_NAME,EVENT_DT,SELECTION_ID,SELECTION_NAME,WIN_LOSE,BSP,PPWAP,MORNINGWAP,...,bsp,ppwap,morningwap,ppmax,ppmin,ipmax,ipmin,morningtradedvol,pptradedvol,iptradedvol
0,209586882.0,RPGTV / Doncaster 5th Feb,A3 483m,05-02-2023 10:46,51950139.0,1. Heathlawn Nellie,1.0,4.20,1.0,3.397092,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,209587208.0,RPGTV / Towcester 5th Feb,OR 270m,05-02-2023 17:44,52289173.0,2. Impact George,1.0,2.62,1.0,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,209586896.0,RPGTV / Doncaster 5th Feb,B1 450m,05-02-2023 12:31,41605544.0,5. Barnside Milo,0.0,9.00,1.0,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,209586900.0,RPGTV / Doncaster 5th Feb,D1 275m,05-02-2023 13:02,40626939.0,2. Bull Run Boris,0.0,5.90,1.0,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,209492483.0,RPGTV / Mullingar 5th Feb,A4 480m,05-02-2023 17:37,52027273.0,6. Brunswick Flyer,0.0,13.00,1.0,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.121348,1.0,3.4441,1.0,1001.0,1.0,1001.0,2323.77,2323.77,0.0
1653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.200000,1.0,1.0000,1.0,1001.0,1.0,1001.0,0.00,5438.07,0.0
1654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.000000,1.0,1.0000,1.0,1001.0,1.0,1001.0,0.00,638.49,0.0
1655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.923056,1.0,6.7472,1.0,1001.0,1.0,1001.0,1236.78,1236.78,0.0
1656,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,400.000000,1.0,94.3030,1.0,1001.0,1.0,1001.0,82.92,82.92,0.0

In [9]:
df=df.dropna(subset=['SELECTION_NAME'])
df2=df[df['MENU_HINT'].str.contains('AUS')]
df2['track']=df2['MENU_HINT'].str.split('(').str[0]
df2['EVENT_DT']=df2['EVENT_DT'].astype(str).str.split(' ').str[0]
df2['date']=pd.to_datetime(df2['EVENT_DT'],format='mixed',dayfirst=True)

df2=df2[['track','date','SELECTION_NAME','BSP']]
df2=df2.dropna(subset=['SELECTION_NAME'])
df2

/var/folders/r_/xjqlcbb94kl_syy9_t4mxp_00000gn/T/ipykernel_3212/3123422659.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['track']=df2['MENU_HINT'].str.split('(').str[0]
/var/folders/r_/xjqlcbb94kl_syy9_t4mxp_00000gn/T/ipykernel_3212/3123422659.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['EVENT_DT']=df2['EVENT_DT'].astype(str).str.split(' ').str[0]
/var/folders/r_/xjqlcbb94kl_syy9_t4mxp_00000gn/T/ipykernel_3212/3123422659.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['date']=pd.to_datetime(df2['EVENT_DT'],format='mixed',dayfirst=True)

                track       date      SELECTION_NAME        BSP
17    AUS / Warragul  2023-02-05      5. Mr Dramatic   2.518438
18      AUS / Darwin  2023-02-05     4. Nitro Shelby  34.000000
19      AUS / Darwin  2023-02-05    7. Scott To Take  38.000000
20      AUS / Darwin  2023-02-05   2. Marlie On Fire   1.653924
21      AUS / Darwin  2023-02-05        7. Roma Blue   5.694513
...               ...        ...                 ...        ...
1810     The Gardens  2024-01-17           6. Jamati  32.000000
1811         Bendigo  2024-01-17        6. Miss Boom  21.000000
1812     Albion Park  2024-01-17   8. Dayseas Jasper  60.000000
1813     Albion Park  2024-01-17      4. Grace Talks  16.000000
1818     Rockhampton  2024-01-17  7. Farmor Entitled   6.139737

[324791 rows x 4 columns]

In [20]:
df2.head(12000).tail(20)

                     track       date       SELECTION_NAME         BSP
508     AUS / The Meadows  2023-02-18        8. Andre Bale   74.267576
510      AUS / Shepparton  2023-02-18    5. Militant Storm    6.567935
516      AUS / Cannington  2023-02-18          1. Venetian   25.000000
517         AUS / Ipswich  2023-02-18        8. White Claw   17.676318
522           AUS / Dubbo  2023-02-18         2. Soft Edge    8.409762
529     AUS / The Meadows  2023-02-18         9. Fred Rose   14.000000
533           AUS / Dubbo  2023-02-18     7. Triple Psycho   42.701175
534     AUS / The Gardens  2023-02-18   10. Zipping Maxine    3.400000
536         AUS / Ipswich  2023-02-18      2. Comical Hope  161.682329
538         AUS / Ipswich  2023-02-18  1. Jimmy The Singer    3.699795
541      AUS / Shepparton  2023-02-18       3. Eureka Icon   26.313011
544      AUS / Shepparton  2023-02-18  6. American Missile   12.500000
548      AUS / Cannington  2023-02-18       4. Destruction    3.588629
549     AUS / The Gardens  2023-02-18       4. Tahlee Girl   38.000000
550  AUS / Wentworth Park  2023-02-18     2. Surprise Baby   29.000000
552  AUS / Wentworth Park  2023-02-18   4. Fernando Hunter    8.951515
557     AUS / The Gardens  2023-02-18   4. Winlock One Out    5.404193
562        AUS / Richmond  2023-02-18    2. Hidden Quality  134.061655
563     AUS / The Gardens  2023-02-18       1. Super Tanga    6.600000
565        AUS / Richmond  2023-02-18          5. Zola Bud  186.938543