In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt
import matplotlib.pyplot as plt

In [2]:
races = pd.read_csv('allRaces1.csv', index_col=False)
print(races.dtypes)

Unnamed: 0        int64
Place           float64
DogName          object
Box             float64
Weight          float64
StartPrice      float64
PIR              object
Split           float64
RunTime         float64
RaceId            int64
Distance          int64
RaceGrade        object
Track            object
date             object
TrainerLName     object
TrainerFName     object
dtype: object

In [3]:
races=races.drop(columns='Unnamed: 0')
races['date']=pd.to_datetime(races['date'],errors='coerce')
races['Place'] = pd.to_numeric(races['Place'], errors='coerce')
races = races.dropna(subset=['Place','Track'])
races['Place'] = races['Place'].astype(int)
races['Box']=races['Box'].astype(int)
races['TrainerName']=races['TrainerFName']+' '+races['TrainerLName']
races=races.drop(columns=['TrainerLName','TrainerFName'])
races['PIR']=races['PIR'].astype(str)
races

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerName
0,1,raine allen,1,27.4,2.4,111,6.68,28.66,335811282,500,Restricted Win,bendigo,2018-07-01,C Grenfell
1,2,surf a lot,2,32.8,6.3,332,7.01,28.82,335811282,500,Restricted Win,bendigo,2018-07-01,C Tyley
2,3,pingin' bee,6,25.5,9.3,443,7.24,28.93,335811282,500,Restricted Win,bendigo,2018-07-01,P Dapiran
3,4,lucas the great,7,32.2,9.1,655,7.31,29.03,335811282,500,Restricted Win,bendigo,2018-07-01,E Hamilton
4,5,quavo,4,28.9,3.4,766,7.38,29.05,335811282,500,Restricted Win,bendigo,2018-07-01,P Dapiran
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1957964,5,high tribe rico,5,34.8,3.2,nan,9.12,23.68,67677,400,5,gawler,2023-12-31,B Rawlings
1957965,6,lucinda grey,2,26.8,4.6,nan,9.06,23.68,67677,400,5,gawler,2023-12-31,M Wittholz
1957966,7,our laura rose,8,26.9,23.0,nan,8.96,23.76,67677,400,5,gawler,2023-12-31,R Panagiotou
1957967,1,boom boom jinx,2,32.2,2.1,nan,3.34,30.84,67676,531,6,gawler,2023-12-31,M Giniotis
1957968,5,six foot putt,3,25.7,0.0,3445,5.09,28.50,67783,450,A4,sunderland,2023-12-31,G Strike

In [4]:
for x in list(races['Track'].unique()):
    print(x)
    cas=races[races['Track']==x]
    for i in list(cas['Distance'].unique()):
        print(i,cas[cas['Distance']==i].shape[0])

bendigo
500 14948
425 37437
660 893
sandown (sap)
515 13675
595 3425
715 375
sale
440 24004
520 5350
650 800
510 431
640 90
435 1600
albion park
331 24661
395 24925
520 30859
600 4245
710 1718
mount gambier
512 10781
400 21315
600 1620
732 312
277 88
305 1978
angle park
388 9619
515 15502
600 2251
731 845
342 9190
530 10411
730 796
595 1492
shepparton
390 9125
450 22122
650 870
385 22887
traralgon
315 946
395 10324
525 737
665 7
595 46
500 1717
350 6274
450 3778
ballarat
450 24832
545 4974
390 28461
660 736
bathurst
450 5652
307 9692
520 2726
618 333
700 17
nowra
365 13423
630 399
520 4393
722 28
launceston
515 10133
278 11414
600 607
720 124
grafton
407 4036
305 4187
610 300
480 1232
350 9750
450 5019
660 150
northam
297 6844
509 3565
588 156
721 15
warragul
460 23639
400 36382
680 505
horsham
410 20261
485 7503
geelong
460 19179
400 30799
520 1379
596 130
680 320
lismore
420 6885
520 2609
635 144
259 3538
cannington
380 29513
520 26155
275 19553
600 3561
715 1827
maitland
400 11829
450 5717
565 971
devonport
452 13837
580 382
cairns
410 248
544 23
ipswich
431 41050
520 16083
630 1955
732 105
288 16958
cranbourne
520 7244
311 20426
699 290
meadows (mep)
525 14931
600 3462
725 265
730 129
darwin
312 12625
383 8227
537 2398
richmond
400 18005
618 1667
330 15953
535 5460
717 82
790 8
401 7815
320 10020
520 3564
622 719
722 12
wentworth park
520 33662
720 2453
280 2420
rockhampton
407 19106
510 2982
sandown park
515 20504
595 4603
715 1914
hobart
340 7300
461 14321
599 615
casino
411 12429
620 369
484 4513
300 8240
goulburn
350 16697
440 10340
dapto
520 9824
600 1673
297 9883
729 53
healesville
300 30398
350 28336
strathalbyn
319 437
416 211
536 140
the gardens
515 12873
400 28768
600 2216
715 414
272 8986
wagga
400 5670
320 9457
525 2320
760 6
the meadows
725 812
525 22389
600 4751
730 462
bulli
472 4653
400 10055
515 865
590 374
340 3143
bundaberg
460 12833
550 1748
531 381
315 324
tamworth
457 310
340 2038
402 1327
moree
302 1405
421 440
551 28
taree
314 5566
392 4445
537 1309
gawler
400 31832
531 8739
643 1255
muswellbrook
328 1638
429 574
560 112
336 1231
431 461
571 25
townsville
380 28393
498 7377
643 301
dubbo
318 11063
400 7115
516 2824
605 336
wauchope
384 3520
457 956
temora
330 8608
457 4204
570 351
broken hill
375 4535
525 944
armidale
365 88
520 13
440 26
young
347 3411
520 250
port augusta
447 276
503 113
591 10
kempsey
350 2081
508 238
coonamble
305 3108
400 984
530 198
405 257
mandurah
405 34870
490 13566
302 18956
647 307
300 714
400 1194
488 481
652 41
capalaba
366 28997
cowra
327 662
453 310
lithgow
287 1176
506 314
414 1066
mudgee
530 26
311 279
434 96
coonabarabran
315 621
410 233
545 17
potts park
320 2373
440 471
530 70
warrnambool
390 22239
450 15282
650 471
gosford
388 14021
515 6439
603 1193
710 59
murray bridge
395 3881
455 1917
530 376
300 373
350 185
680 93
gunnedah
340 11461
527 1373
431 4009
murray bridge (mbr)
395 7901
455 4529
530 953
680 359
350 24
300 8
murray bridge (mbs)
300 7287
350 2329
richmond (ris)
324 8323
canberra
530 1
nottingham
500 5689
680 94
480 431
305 211
730 43
255 24
oxford
450 5501
847 6
253 227
650 239
romford
400 8851
575 1126
225 62
750 53
sheffield
500 5949
280 1620
660 268
480 29
915 4
720 9
934 6
perry barr
480 4478
275 1762
660 57
710 61
kinsley
462 5036
268 1837
650 6
844 6
enniscorthy
480 2988
526 40
549 42
503 6
320 6
doncaster
275 1913
450 3470
483 1289
661 45
monmore
480 8418
264 1640
630 753
684 35
900 10
210 5
towcester
500 3570
270 2392
712 180
942 11
youghal
480 4273
503 6
yarmouth
462 4646
659 182
277 120
suffolk downs
388 4536
548 440
716 10
220 193
swindon
476 5680
262 715
682 180
896 6
addington
295 4354
520 1221
645 120
732 30
tralee
480 4212
503 128
297 752
521 151
457 101
686 22
hove
500 6694
285 1385
695 291
515 307
740 5
sunderland
450 5816
261 1318
640 137
murray bridge straight
300 1676
350 505
newcastle
480 7828
640 150
290 57
crayford
540 1663
380 6641
714 227
874 21
central park
265 594
480 506
642 18
500 5
450 17
277 1887
491 2000
664 21
harlow
238 4566
415 4465
592 74
kilkenny
480 3892
663 35
newbridge
480 1468
297 268
503 197
526 58
lifford
480 1571
297 1409
503 111
526 72
750 6
shelbourne park
480 3638
526 367
503 897
549 103
320 151
686 232
777 6
937 17
hatrick
305 1239
520 707
755 30
galway
480 2392
320 786
503 170
526 34
741 10
297 121
thurles park
480 1709
521 178
302 71
waterford
480 3774
526 40
297 59
668 80
503 110
curraheen park
480 3128
686 151
503 298
302 494
526 118
drumbo park
306 890
480 864
526 32
503 43
764 4
dundalk
480 1633
366 1451
503 106
526 59
567 27
613 4
549 36
limerick
480 3678
526 98
503 492
320 109
549 171
686 130
mullingar
480 3391
366 169
320 81
549 12
503 17
manukau
318 2006
527 665
779 23
clonmel
480 2244
274 517
503 200
686 6
henlow
460 1919
550 197
277 79
692 18
manawatu
457 622
375 1088
410 92
660 232
richmond straight
324 2377
pelaw grange
435 1542
ascot park
457 403
390 1052
cambridge
457 324
375 637
650 49
747 8
the valley
460 208
260 148
645 27

In [5]:
trk='ballarat'
cas=races[races['Track']==trk]
#cas.dropna(subset=['Split','StartPrice'],inplace=True)
cas.reset_index(drop=True, inplace=True)
cas['Distance']=cas['Distance'].astype(int)
cas

/var/folders/_5/kty37fps3g723664y0dwx0_80000gn/T/ipykernel_41348/3231730874.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cas['Distance']=cas['Distance'].astype(int)

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerName
0,1,blazin' ruby,7,26.8,6.3,441,6.94,26.39,336164496,450,Maiden,ballarat,2018-07-02,G Gledhill
1,2,knocker's gold,1,30.5,1.5,233,6.80,26.41,336164496,450,Maiden,ballarat,2018-07-02,P Desmond
2,3,micky rads,2,33.5,21.8,322,6.87,26.47,336164496,450,Maiden,ballarat,2018-07-02,P Radstock
3,4,call me britney,3,25.8,4.5,554,6.95,26.49,336164496,450,Maiden,ballarat,2018-07-02,G Hansen
4,5,moondust,8,35.6,12.0,115,6.76,26.62,336164496,450,Maiden,ballarat,2018-07-02,D Sheridan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58998,4,pure promise,3,30.2,5.5,S56,8.91,23.07,67489,390,5,ballarat,2023-12-30,S Collyer
58999,5,mickey wow,2,31.0,15.0,M87,9.09,23.11,67489,390,5,ballarat,2023-12-30,A Hemingway
59000,6,denis the menace,1,32.5,6.5,M45,8.81,23.13,67489,390,5,ballarat,2023-12-30,D Petersen
59001,7,chilly bin,6,32.2,8.0,M64,8.95,23.14,67489,390,5,ballarat,2023-12-30,M Gibbons
59002,8,my mate martha,4,25.0,7.0,Q78,9.07,23.30,67489,390,5,ballarat,2023-12-30,S Mannion

In [ ]:
dogs_done = set()
dog_races = {}


for i in range(1,cas.shape[0]):
    index = cas.shape[0]-i
    name = cas.iloc[index,1]
    if(name not in dogs_done):
        dog_past_race = races[races['DogName']==name]
        dog_races[name]=dog_past_race
        dogs_done.add(name)
    
    if(i%1000==0):
        print(i)

In [ ]:
trainers_done = set()
trainer_races = {}


for i in range(1,cas.shape[0]):
    index = cas.shape[0]-i
    name = cas.iloc[index,13]

    if(name not in trainers_done):
        dog_past_race = races[races['TrainerName']==name]
        trainer_races[name]=dog_past_race
        trainers_done.add(name)
    
    if(i%1000==0):
        print(i)

In [ ]:
unique_track_dist={}
tracks = races['Track'].unique()
for i in range(tracks.size):
    dic={}
    track=tracks[i]
    df=races[races['Track']==track]
    dists = df['Distance'].unique()
    for i in dists:
        df2=df[df['Distance']==i]
        ls=[df2['Split'].mean(),df2['Split'].std(),df2['RunTime'].mean(),df2['RunTime'].std()]
        dic[i]=ls
    unique_track_dist[track]=dic
unique_track_dist['ballarat']

In [ ]:
unique_races = {}
unique_ids = cas['RaceId'].unique()

for i in range(unique_ids.size): 
    race = cas[cas['RaceId']==unique_ids[i]]
    race = race.sort_values(by='Box')
    race.reset_index(drop=True, inplace=True)
    race['psplit']=None
    for j in range(race.shape[0]):
        name = race.iloc[j,1]
        past = dog_races[name]  
        
        date = race['date'][0]
        past = past[past['date']<date]
        past = past.sort_values(by='date')   
        
        past = past[past['Track']==trk]
        pred_split=0

        past.reset_index(drop=True, inplace=True)
        for k in range(past.shape[0]):
            if(pd.isna(past.iloc[k,6])==False):
                params = unique_track_dist[trk][past.iloc[k,9]]
                pred_split+=((past.iloc[k,6]-params[0])/params[1])
        if past.shape[0]!=0:
            pred_split/=past.shape[0]
        race.iloc[j,14]=pred_split
            
            
    unique_races[unique_ids[i]]=race
    
    if(i%1000==0):
        print(i)

In [ ]:
def pir_function(pirs,places):
    start=0
    mid=0
    fin=0
    for i in range(len(pirs)):
        pir = pirs[i]

        if(pd.isna(pir) or pir in ['nan','0','0.0',0] ):
            start+=4.5
            mid+=4.5
            fin+=4.5
        else: 
            try:
                if('.' in pir):
                    pir = str(int(float(pir)))


                if(len(pir)==1):
                    start+=int(pir)-places[i]
                    mid+=int(pir)-places[i]
                    fin+=int(pir)-places[i]
                elif(len(pir)==2):
                    start+=int(pir[0])-places[i]
                    mid+=int(pir[1])-places[i]
                    fin+=int(pir[1])-places[i]
                elif(len(pir)==3):
                    start+=int(pir[0])-places[i]
                    mid+=int(pir[1])-places[i]
                    fin+=int(pir[2])-places[i]
                elif(len(pir)==4):
                    start+=int(pir[0])-places[i]
                    mid+=(int(pir[1])+int(pir[2]))/2-places[i]
                    fin+=int(pir[3])-places[i]
                elif(len(pir)==5):
                    start+=(int(pir[0])+int(pir[1]))/2-places[i]
                    mid+=int(pir[2])-places[i]
                    fin+=(int(pir[3])+int(pir[4]))/2-places[i]
                elif(len(pir)==6):
                    start+=(int(pir[0])+int(pir[1]))/2-places[i]
                    mid+=(int(pir[2])+int(pir[3]))/2-places[i]
                    fin+=(int(pir[5])+int(pir[4]))/2-places[i]
                else:
                    start+=4.5-places[i]
                    mid+=4.5-places[i]
                    fin+=4.5-places[i]
            except:
                start+=4.5-places[i]
                mid+=4.5-places[i]
                fin+=4.5-places[i]


    start/=len(pirs)
    mid/=len(pirs)
    fin/=len(pirs)
    return([start,mid,fin])

In [ ]:
duds = []
final_result=[]
df=''
last_5=''
last_2=''
trainer=''
race=''

for i in range(0,cas.shape[0]):
# for i in range(30500,31000):
    row = cas.iloc[i,]

    name = row['DogName']
    trainer = row['TrainerName']
    date = row['date']

    df = dog_races[name]
    df = df[df['date']<date]
    df=df.sort_values(by='date')
    
    trainer = trainer_races[row['TrainerName']]
#     trainer = trainer[trainer['Track']==trk]
    trainer = trainer[trainer['date']<date]

    if(df.shape[0]<5):
        duds.append(row['RaceId'])
    else:

        


        #last races

        time_z_avg = 0
        split_z_avg = 0

        for j in range(df.shape[0]):
            row2 = df.iloc[j,]
#           
            params = unique_track_dist[row2['Track']][row2['Distance']]

            if(pd.isna(row2['Split'])==False):
                split_z_avg+=((row2['Split']-params[0])/params[1])
            if(pd.isna(row2['RunTime'])==False):
                time_z_avg+=((row2['RunTime']-params[2])/params[3])
                
        time_z_avg/=df.shape[0]
        split_z_avg/=df.shape[0]
        
        last_5_times=[]
        
        last_5 =df.tail(5)
        for j in range(5):
            row2 = last_5.iloc[j,]
#           
            params = unique_track_dist[row2['Track']][row2['Distance']]

            if(pd.isna(row2['RunTime'])==False):
                last_5_times.append((row2['RunTime']-params[2])/params[3])
        
        last_5_times_avg=sum(last_5_times)/5
        in_form=0
        if(last_5_times_avg<time_z_avg):
            in_form=1
        
        track_params = unique_track_dist[row['Track']][row['Distance']]
        
        pred_split = split_z_avg * track_params[1]+track_params[0]



        at_cas=df[df['Track']==trk]
        
        at_cas_perc= sum(df['Track']==trk)/df.shape[0]

        ctime_z_avg = 0
        csplit_z_avg=0


        for j in range(at_cas.shape[0]):
            row2 = at_cas.iloc[j,]
            
            params = unique_track_dist[row2['Track']][row2['Distance']]

            if(pd.isna(row2['Split'])==False):
                csplit_z_avg+=((row2['Split']-params[0])/params[1])

            if(pd.isna(row2['RunTime'])==False):
                ctime_z_avg+=((row2['RunTime']-params[2])/params[3])
        if(at_cas.shape[0]!=0):
            ctime_z_avg/=at_cas.shape[0]
            csplit_z_avg/=at_cas.shape[0]

        pred_split2 = csplit_z_avg * track_params[1]+track_params[0]
        
        at_cas_dist=at_cas[at_cas['Distance']==row['Distance']]
        at_cas_dist_time=track_params[2]
        at_cas_dist_time_avg=track_params[2]
        in_form2=0
        
        if(at_cas_dist.shape[0]>0):
            final_row = at_cas_dist.iloc[-1,]
            at_cas_dist_time=final_row['RunTime']
            at_cas_dist_time_avg=at_cas_dist['RunTime'].mean()
            if(at_cas_dist_time<at_cas_dist_time_avg):
                in_form2=1
            
            
            
        
        



        if(trainer.shape[0]==0):
            mean_trainer_place=4.5
        else:
            mean_trainer_place=trainer['Place'].mean()

        trainer = trainer.tail(5)
        trainer_last_5_time_z = 0


        for j in range(trainer.shape[0]):
            row2 = trainer.iloc[j,]
            params = unique_track_dist[row2['Track']][row2['Distance']]

            if(pd.isna(row2['RunTime'])==False):
                trainer_last_5_time_z+=((row2['RunTime']-params[2])/params[3])
        if(trainer.shape[0]!=0):
            trainer_last_5_time_z/=trainer.shape[0]

        #faster dog inside       
        race = unique_races[row['RaceId']]
        
        #lane prefs setup
        #split win setup
        
        lane_prefs={}
        split_win=1000
        for dog in list(race['DogName']):
            races1=dog_races[dog]
            
            date = race['date'][0]
            races1 = races1[races1['date']<date]
            races1 = races1.sort_values(by='date') 
            
            line = race[race['DogName']==dog]
            
            if float(line['Split']) < split_win:
                split_win = float(line['Split'])

            mean_place=races1['Place'].mean()

            ins_mean = races1[races1['Box'].isin([1,2,3])]['Place'].mean() - mean_place
            mid_mean = races1[races1['Box'].isin([4,5])]['Place'].mean() - mean_place
            out_mean = races1[races1['Box'].isin([6,7,8])]['Place'].mean() - mean_place

            means=[ins_mean,mid_mean,out_mean]
            means = [0 if pd.isna(mean) else mean for mean in means]
            lowest=np.argmin(means)
            lane_prefs[dog]=means+[lowest]
        
        #split win
        split_win_result = 0
        if split_win == row['Split']:
            split_win_result = 1
            
            
        #lane preferences
        params = lane_prefs[name]

        means=params[0:3]
        best_lane=params[3]

        boxes=[[1,2,3],[4,5],[6,7,8]]
        lowest = best_lane
        box = row['Box']

        if(box<4):
            box2=0
        elif(box<6):
            box2=1
        else:
            box2=2

        mean_in_pos=means[box2]
        
        

        index= race.loc[race['Box'] == box].index[0]


        faster_inside=0
        psplit=race.iloc[index,14]


        if(pd.isna(psplit)==False):        
            for j in range(index):
                if(race.iloc[j,14]<psplit):
                    faster_inside=1
                    break

        #next to fast dog
        next_to_faster=0
        collision=0
        try:
            if(box==1):
                if(race.iloc[1,14]<psplit):
                    next_to_faster=1

            elif(box==max(race['Box'])):
                if(race.iloc[race.shape[0]-2,14]<psplit):
                    next_to_faster=1

            else:
                if(race.iloc[index-1,14]<psplit or race.iloc[index+1,14]<psplit):
                    next_to_faster=1


            #split win

            #collision

            if(box==1):
                if(lane_prefs[race.iloc[1,1]][3]<best_lane):
                    collision=1

            elif(box==max(race['Box'])):
                if(lane_prefs[race.iloc[race.shape[0]-2,1]][3]>best_lane):
                    collision=1


            else:
                if(lane_prefs[race.iloc[index-1,1]][3]>best_lane or lane_prefs[race.iloc[index+1,1]][3]<best_lane):
                    collision=1
        except:
            pass

        #first_out
        first_out=sum(race['psplit']<psplit)
        if(first_out>0):
            first_out=0
        elif(first_out==0):
            first_out=1

        #PIR
        pirs = list(df['PIR'])
        pir_res = pir_function(pirs,list(df['Place']))
        
        #mean place
        mean_place = df['Place'].mean()



        placing_box_res=[mean_place,mean_in_pos]
        last_5_res=[time_z_avg, split_z_avg,pred_split] + last_5_times + [last_5_times_avg,in_form]
        last_2_res=[ctime_z_avg,csplit_z_avg,pred_split2,at_cas_dist_time,at_cas_dist_time_avg,at_cas_perc,in_form2]
        trainer_res=[mean_trainer_place,trainer_last_5_time_z]
        random=[faster_inside, next_to_faster,collision,first_out]


        cols=['RunTime','Split','Place','date','RaceId','Distance','Box','Weight','StartPrice']
        row3=list(row[cols])+placing_box_res+last_5_res+last_2_res
        row3+=trainer_res+random+pir_res
        final_result.append(row3)

    if(i%500==0):
        print(i)

In [ ]:
colnames = ['RunTime','Split','Place','Date','RaceId','Distance','Box','Weight','StartPrice']
colnames+=['mean_place','mean_in_race_pos']
colnames+=['time_z_avg','split_z_avg','pred_split1']
colnames+=['t1','t2','t3','t4','t5','last_5_avg','in_form']
colnames+=['ctime_z_avg','csplit_z_avg','pred_split2','at_cas_dist_time','at_cas_dist_time_avg','at_cas_perc','in_form2']
colnames+=['t_mean_place','t_5_time_z']
colnames+=['faster_inside','next_to_faster','collision','first_out','pir1','pir2','pir3']
           
df_final = pd.DataFrame(final_result,columns=colnames)
df_final['Win']=np.where(df_final['Place']==1,1,0)
for i in range(1,9):
    name = 'b'+str(i)
    df_final[name]=np.where(df_final['Box']==i,1,0)
    
df_final = df_final.drop(columns=['Box'])
df_final

In [ ]:
df_final.to_csv(trk+'.csv')
duds = set(duds)
duds = list(duds)
dc = {'Invalid':duds}
dff = pd.DataFrame(dc)
dff.to_csv('Invalid/Invalid_'+trk+'.csv')
dff

In [ ]:
df_final.columns

In [ ]:
a = races[races['date'] == '2023-11-21']
a[a['Track'] == 'gosford']

In [ ]:
races[races['RaceId'] == 60644]