In [1]:
import pandas as pd
import numpy as np

In [2]:
sb = pd.read_csv('betwatch_prices.csv')
sb['Track']=sb['track_name'].str.lower()
sb=sb.rename(columns={'race_date':'Date'})
sb['DogName']=sb['name'].str.lower()

for i in range(1,11):
    sb['DogName'] = sb['DogName'].str.strip(str(i)+'.').str.strip()
    
sb=sb[['Date','DogName','price']]
sb

              Date           DogName  price
0       2022-11-07        extra gold    5.0
1       2022-11-07   homebush classy    7.5
2       2022-11-07    homebush geoff    3.0
3       2022-11-07       jokes on us    9.0
4       2022-11-07     homebush axel   11.0
...            ...               ...    ...
655275  2024-02-25  datsthewaytodoit    0.0
655276  2024-02-25      ashway amber    0.0
655277  2024-02-25      ellie eithne    0.0
655278  2024-02-25     charlies eske    0.0
655279  2024-02-25      mohican chad    0.0

[655280 rows x 3 columns]

In [3]:
a = pd.read_csv('allRaces1.csv')
a

,Place,DogName,Box,Weight,StartPrice,PIR,Split,RunTime,RaceId,Distance,RaceGrade,Track,date,TrainerLName,TrainerFName
0,1.0,raine allen,1.0,27.4,2.4,111,6.68000,28.660,335811282,500,Restricted Win,bendigo,2018-07-01,Grenfell,C
1,2.0,surf a lot,2.0,32.8,6.3,332,7.01000,28.820,335811282,500,Restricted Win,bendigo,2018-07-01,Tyley,C
2,3.0,pingin' bee,6.0,25.5,9.3,443,7.24000,28.930,335811282,500,Restricted Win,bendigo,2018-07-01,Dapiran,P
3,4.0,lucas the great,7.0,32.2,9.1,655,7.31000,29.030,335811282,500,Restricted Win,bendigo,2018-07-01,Hamilton,E
4,5.0,quavo,4.0,28.9,3.4,766,7.38000,29.050,335811282,500,Restricted Win,bendigo,2018-07-01,Dapiran,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2028461,NaN,hartney,NaN,NaN,0.0,NaN,NaN,NaN,1003096223,410,5,horsham,2024-03-08,poo,poo
2028462,1.0,wrong bias,1.0,28.9,1.6,11.0,10.20000,23.070,1003096223,410,4,horsham,2024-03-08,poo,poo
2028463,2.0,hidden stones,2.0,30.6,2.5,22.0,10.27000,23.135,1003096223,410,4,horsham,2024-03-08,poo,poo
2028464,6.0,miss verdansky,4.0,28.5,52.5,76.0,11.05925,23.813,1003096223,410,5,horsham,2024-03-08,poo,poo
2028465,3.0,happy potter,4.0,32.5,101.0,254.0,11.64000,23.700,1004319650,400,5,the gardens,2024-03-08,poo,poo

In [5]:
import os 
tracks = os.listdir('class2')
for track in tracks:
    data = pd.read_csv('class2/'+track)
    data2 = pd.merge(data,a,how='inner',on=['RaceId','RunTime'])
    for col in list(data2.columns):
        if('_x' in col):
            data2=data2.rename(columns={col:col.strip('_x')})
            
    cols = ['DogName','RunTime', 'Split', 'Place', 'Date', 'RaceId', 'Distance',
       'Weight', 'StartPrice', 'mean_place',
       'mean_in_race_pos', 'time_z_avg', 'split_z_avg', 'pred_split1', 't1',
       't2', 't3', 't4', 't5', 'last_5_avg', 'in_form', 'ctime_z_avg',
       'csplit_z_avg', 'pred_split2', 'at_cas_dist_time',
       'at_cas_dist_time_avg', 'at_cas_perc', 'in_form2', 'faster_inside',
       'next_to_faster', 'collision', 'first_out', 'pir1', 'pir2', 'pir3',
       'Win', 'b1', 'b2', 'b3', 'b4', 'b5', 'b6', 'b7', 'b8', 'i1', 'i2']
    data2=data2[cols]
    
    data3=pd.merge(data2,sb,how='left')
    data3.to_csv('class4/'+track)

KeyError: "['i1', 'i2'] not in index"